<div class="modal fade" id="detailKegiatanBintek" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitleId">
          Detail Kegiatan
          <strong>(No 1)</strong>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead class="bg-soft-blue">
              <tr>
                <th>No</th>
                <th>Tanggal</th>
                <th>Satker</th>
                <th>Deksripsi</th>
                <th>Hambatan / Kendala</th>
                <th>Simpulan</th>
                <th>Tindak Lanjut</th>
                <th>Dokumentasi</th>
                <th>Aksi</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>17/01/2024</td>
                <td>BNN Kota Surakarta</td>
                <td>Singkat, padat, dan jelas</td>
                <td>Tidak ada hambatan ataupun kendala apapun saat pelaksanaan kegiatan</td>
                <td>Stakeholders sangat mendukung program pemberdayaan alternatif yang akan dilaksanakan oleh BNN Kota Surakarta</td>
                <td>Perlu adanya koordinasi lebih lanjut dengan berbagai pihak agar kegiatan dapat berjalan secara berkesinambungan</td>
                <td>
                  <a href="javascript:;">Lihat dokumentasi</a>
                </td>
                <td>
                  <div class="list-button">
                    <a href="javascript:;" class="editKegiatan badge bg-success text-white text-decoration-none mb-1"><i class="fas fa-pen-to-square me-2"></i>EDIT</a>
                    <a href="javascript:;" class="badge bg-danger text-white text-decoration-none mb-1 deleteKegiatan"><i class="fas fa-trash-alt me-2"></i>HAPUS</a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>17/01/2024</td>
                <td>BNN Kota Surakarta</td>
                <td>Singkat, padat, dan jelas</td>
                <td>Tidak ada hambatan ataupun kendala apapun saat pelaksanaan kegiatan</td>
                <td>Stakeholders sangat mendukung program pemberdayaan alternatif yang akan dilaksanakan oleh BNN Kota Surakarta</td>
                <td>Perlu adanya koordinasi lebih lanjut dengan berbagai pihak agar kegiatan dapat berjalan secara berkesinambungan</td>
                <td>
                  <a href="javascript:;">Lihat dokumentasi</a>
                </td>
                <td>
                  <div class="list-button">
                    <a href="javascript:;" class="editKegiatan badge bg-success text-white text-decoration-none mb-1"><i class="fas fa-pen-to-square me-2"></i>EDIT</a>
                    <a href="javascript:;" class="badge bg-danger text-white text-decoration-none mb-1 deleteKegiatan"><i class="fas fa-trash-alt me-2"></i>HAPUS</a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          <i class="fas fa-xmark me-2"></i>
          Tutup
        </button>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">
          <i class="fas fa-file-export me-2"></i>
          Ekspor Data
        </button>
      </div>
    </div>
  </div>
</div>
