{% extends 'dashboard/dashboard_base.html' %}
{% load static %}
{% block title %}
Bintek
{% endblock %}
{% block content %}
<div class="breadcrumb">
  <div class="row">
    <h3 class="heading mb-2">Bintek</h3>
    <span class="mb-0">
      <span class="text-muted fw-light">Kegiatan /</span>
      <span class="ms-1 fw-medium">Bintek</span>
    </span>
  </div>
</div>

<section id="__data">
  <div class="card">
    <div class="card-body">
      <div id="headline" class="mb-3">
        <h3 class="text-center">REKAPITULASI PEMBINAAN TEKNIS BNN, BNNP KE BNNK <br /> <span id="currentYear"></span>
        </h3>
        <hr />
      </div>

      <div class="action-button">
        <div class="d-flex justify-content-end mb-3 gap-2">
          <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exportData"><i
              class="fas fa-file-export me-2"></i>Ekspor Data</button>
          <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal"><i
              class="fas fa-plus me-2"></i>Tambah Data</button>
        </div>
      </div>

      <div class="table-responsive">
        {% include 'psm/bintek/table.html' %}
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block css_tambahan %}
<link rel="stylesheet" href="{% static 'assets/dashboard/vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" />
{% endblock %}

{% block js_tambahan %}
<script src="{% static 'assets/dashboard/vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
<script>
  let table = $("#__table").DataTable({
    language: dt_lang_config(),
    serverSide: true,
    searching: true,
    responsive: true,
    pageLength: 10,
    order: [[1, 'asc']],
    ajax: {
      url: `/kegiatan/api/v1/psm/binaan_teknis/get_all_data/?format=datatables`,
      dataSrc: "data",
    },
    columns: [
      {
        className: 'dt-control',
        orderable: false,
        data: "satker_id",
        defaultContent: '',
        render: function (data, type, row) {
          return `<span class="d-none" data-satker_id="${data}"></span>`;
        }
      },
      {
        data: "nama_satker",
        render: function (data, type, row) {
          return `${data}`;
        },
      },
      {
        data: 'jumlah_kegiatan',
        render: function (data, type, row) {
          return data;
        },
      },
      {
        className: 'dt-left',
        data: "id",
        orderable: false,
        render: function (data, type, row) {
          const options = JSON.stringify({
            satker_id: row.satker_id,
            name: "kegiatan",
            detail_name: row.nama_satker,
            apiURL: "/kegiatan/api/v1/psm/binaan_teknis",
          });

          return `
          <div class="list-button gx-3 text-uppercase">
                <div>
                    <a href="javascript:void(0);" onclick="handleEditModal(${data})" style="background-color:#00A0A9;" class="badge text-white text-decoration-none mb-1">
                      <i class="fa-regular fa-paper-plane me-2"></i>Kirim
                    </a>
                </div>
                <div>
                  <a href="javascript:void(0);" class="badge bg-danger text-white text-decoration-none mb-1" onclick='handleDeleteAllKegiatan(${row.satker_id})'><i class="fas fa-trash-alt me-2"></i>Hapus</a>
                </div>
            </div>
          `;
        },
      },
    ],
    initComplete: (settings, json) => console.log("Hasil fetch data : ", json),
  });

  $('#__table tbody').on('click', 'td.dt-control', function () {
    let tr = $(this).closest('tr'),
      row = table.row(tr),
      satker_id = $(this).find('span').data('satker_id');

    console.log(satker_id);


    if (row.child.isShown()) {
      destroyChild(row, satker_id);
      tr.removeClass('shown');
    }
    else {
      createChild(row, satker_id);
      tr.addClass('shown');
    }
  });

  function createChild(row, satker_id) {
    let rowData = row.data();

    let table = $(`
		<table class="table table-bordered">
			<thead class="bg-soft-primary">
				<tr>
					<th class="">NO</th>
					<th class="">TANGGAL</th>
					<th class="">SATKER YANG DIBINTEK</th>
					<th class="">DESKRIPSI</th>
					<th class="">KENDALA</th>
					<th class="">TINDAK LANJUT</th>
					<th class="">KESIMPULAN</th>
					<th class="">DOKUMENTASI</th>
					<th class="">AKSI <i class="fas fa-edit ms-2"></i></th>
				</tr>
			</thead>
			<tbody class="align-tr-middle">
			</tbody>
		</table>`);

    row.child(table).show();

    let usersTable = table.DataTable({
      language: dt_lang_config(),
      serverSide: true,
      searching: true,
      responsive: true,
      pageLength: 5,
      order: [[0, 'asc']],
      ajax: {
        url: `/kegiatan/api/v1/psm/binaan_teknis/get_detail_data/?format=datatables&satker_id=${satker_id}`,
        dataSrc: "data",
      },
      searching: false,
      paging: false,
      columns: [
        {
          className: 'dt-left',
          data: null
        },
        {
          class: 'dt-left',
          render: function (data, typer, row) {
            let output = (row.tanggal_akhir ? `${row.tanggal_awal} s/d ${row.tanggal_akhir}` : row.tanggal_awal)
            return output
          }
        },
        {
          className: 'dt-left',
          data: "nama_satker_target"
        },
        {
          className: 'dt-left',
          data: "deskripsi"
        },
        {
          className: 'dt-left',
          data: "kendala"
        },
        {
          className: 'dt-left',
          data: "kesimpulan"
        },
        {
          className: 'dt-left',
          data: "tindak_lanjut"
        },
        {
          className: 'dt-left',
          data: "dokumentasi",
          orderable: false,
          render: function (data, type, row) {
            let output = `
              <div class="text-center">
                <a href="/media/${data}" class="badge bg-primary text-white" target="_blank">
                  <i class="fas fa-eye me-2"></i>
                  Lihat dokumentasi
                </a>
              </div>
            `;
            return output
          }
        },
        {
          className: 'dt-left',
          data: "id",
          orderable: false,
          render: function (data, type, row) {
            const options = JSON.stringify({
              id: data,
              name: "kegiatan",
              detail_name: row.nama_satker,
              apiURL: "/kegiatan/api/v1/psm/binaan_teknis",
            });

            return `
              <div>
                  <a href="javascript:void(0);" onclick="handleEditModal(${data})" style="background-color:#00A0A9;" class="badge text-white text-decoration-none mb-1">
                    <i class="fa-regular fa-paper-plane me-2"></i>Kirim
                  </a>
              </div>
              <div class="list-button gx-3 text-uppercase">                 
                  <div>
                      <a href="javascript:void(0);" onclick="handleEditModal(${data})" class="badge bg-success text-white text-decoration-none mb-1">
                        <i class="fas fa-pen-to-square me-2"></i>Edit
                      </a>
                  </div>
                  <div>
                      <a href="javascript:void(0);" class="badge bg-danger text-white text-decoration-none mb-1" onclick='handleDelete(${options})'><i
                              class="fas fa-trash-alt me-2"></i>Hapus</a>
                  </div>
              </div>
          `;
          },
        }
      ],
      select: true,
      columnDefs: [
        dt_row_pagination(),
      ],
      initComplete: (settings, json) => console.log("Hasil fetch data : ", json),
    });
  }

  function destroyChild(row) {
    let table = $("table", row.child());
    table.detach();
    table.DataTable().destroy();

    row.child.hide();
  }
</script>
<script>
  async function handleDate(event, target) {
    const currentDate = moment().format('YYYY-MM-DD');
    const valueDate = $(event.target).val();
    (valueDate === currentDate ? $(`#${target}tanggal_akhir`).attr('disabled', true) : $(`#${target}tanggal_akhir`).attr('disabled', false));
  }
  async function handlePost(e) {
    e.preventDefault()
    showSwalLoading()

    const tanggal_awal = $("#create__tanggal_awal").val();
    const tanggal_akhir = $("#create__tanggal_akhir").val();
    const satker = $("#create__satker").val();
    const satker_target = $("#create__satker_target").val();
    const deskripsi = $("#create__deskripsi").val();
    const kendala = $("#create__kendala").val();
    const kesimpulan = $("#create__kesimpulan").val();
    const tindak_lanjut = $("#create__tindak_lanjut").val();
    const dokumentasi = $("#create__dokumentasi")[0].files[0];

    const data = {
      satker,
      satker_target,
      tanggal_awal,
      tanggal_akhir,
      deskripsi,
      kendala,
      kesimpulan,
      tindak_lanjut,
      dokumentasi,
    };
    console.log(data);

    const formData = new FormData();

    formData.append("tanggal_awal", tanggal_awal);
    formData.append("tanggal_akhir", tanggal_akhir);
    formData.append("satker", parseInt(satker));
    formData.append("satker_target", parseInt(satker_target));
    formData.append("deskripsi", deskripsi);
    formData.append("kendala", kendala);
    formData.append("kesimpulan", kesimpulan);
    formData.append("tindak_lanjut", tindak_lanjut);
    formData.append("dokumentasi", dokumentasi);

    try {
      const response = await axios.post(
        `/kegiatan/api/v1/psm/binaan_teknis/`,
        formData,
        {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        }
      );

      $("div#createModal").modal("hide");
      showSwalSuccess(
        "Berhasil!",
        `Data kegiatan telah <b>berhasil</b> ditambahkan!`
      );
    } catch (error) {
      showSwalGenericError();
      console.error("Terjadi kesalahan :", error);
    } finally {
      table.ajax.reload();
    }
  }
  async function handleEditModal(id) {
    try {
      const response = await axios.get(`/kegiatan/api/v1/psm/binaan_teknis/${id}/`);
      const data = response.data;
      const form = $('#editForm');
      $('#edit__info').text(data.detail.satker.nama_satker);
      $('#edit__id').val(data.id);
      $('#edit__tanggal_awal').val(data.tanggal_awal);
      $('#edit__tanggal_akhir').val(data.tanggal_akhir);
      (data.tanggal_akhir ? $('#edit__tanggal_akhir').attr('disabled', false) : $('#edit__tanggal_akhir').attr('disabled', true))
      $('#edit__satker').val(data.satker).trigger('change');
      $('#edit__satker_target').val(data.satker_target).trigger('change');
      $('#edit__deskripsi').val(data.deskripsi);
      $('#edit__kendala').val(data.kendala);
      $('#edit__kesimpulan').val(data.kesimpulan);
      $('#edit__tindak_lanjut').val(data.tindak_lanjut);

      $('#modalEdit').modal('show');
    } catch (error) {
      showSwalGenericError();
      console.error('Terjadi kesalahan :', error);
    }
  }
  async function handleEdit(e) {
    e.preventDefault();
    showSwalLoading();

    const form = $("editForm");
    const id = $('#edit__id').val();
    const tanggal_awal = $("#edit__tanggal_awal").val();
    const tanggal_akhir = $("#edit__tanggal_akhir").val();
    const satker = $("#edit__satker").val();
    const satker_target = $("#edit__satker_target").val();
    const deskripsi = $("#edit__deskripsi").val();
    const kendala = $("#edit__kendala").val();
    const kesimpulan = $("#edit__kesimpulan").val();
    const tindak_lanjut = $("#edit__tindak_lanjut").val();
    const dokumentasi = $("#edit__dokumentasi")[0].files[0];

    const data = {
      id,
      satker,
      satker_target,
      tanggal_awal,
      tanggal_akhir,
      deskripsi,
      kendala,
      kesimpulan,
      tindak_lanjut,
      dokumentasi,
    };
    console.log(data);

    const formData = new FormData();

    formData.append("tanggal_awal", tanggal_awal);
    formData.append("tanggal_akhir", tanggal_akhir);
    formData.append("satker", parseInt(satker));
    formData.append("satker_target", parseInt(satker_target));
    formData.append("deskripsi", deskripsi);
    formData.append("kendala", kendala);
    formData.append("kesimpulan", kesimpulan);
    formData.append("tindak_lanjut", tindak_lanjut);
    if (dokumentasi) { formData.append('dokumentasi', dokumentasi); }

    try {
      const response = await axios.patch(
        `/kegiatan/api/v1/psm/binaan_teknis/${id}/`, formData, {
        headers: {
          "Content-Type": "multipart/form-data",
        },
      }
      );

      $("div#modalEdit").modal("hide");
      showSwalSuccess('Berhasil!', `Data kegiatan telah <b>berhasil</b> diperbarui!`);

    } catch (error) {
      showSwalGenericError();
      console.error("Terjadi kesalahan :", error);
    } finally {
      table.ajax.reload();
    }
  }
  async function handleDeleteAllKegiatan(satker_id) {
		const confirmResult = await showSwalConfirm(`Untuk menghapus data <b>kegiatan</b>? <br> Data yang dihapus tidak dapat <b>dipulihkan</b> kembali`, 'Ya, hapus data');
		if (!confirmResult.isConfirmed) return;
		showSwalLoading();
		await sleep(1000);
		try {
			const response = await axios.delete(`/kegiatan/api/v1/psm/binaan_teknis/${satker_id}/delete_all_kegiatan/`);
			console.log('Respose :', response);
			showSwalSuccess('Berhasil', `Data <b>kegiatan</b> telah berhasil <b>dihapus</b>`, 3000);
			reloadAllDataTables();
		} catch (error) {
			showSwalGenericError();
			console.error('Terjadi kesalahan :', error);
		}
	}
</script>
{% endblock %}

{% block modal_tambahan %}
{% include 'psm/bintek/modals/create.html' %}
{% include 'psm/bintek/modals/edit.html' %}
{% endblock %}