<table class="table table-bordered" id="__table">
  <thead class="" style="background-color: #2ca8dc;">
    <tr>
      <th class="text-white">NO.</th>
      <th class="text-white">TANGGAL</th>
      <th class="text-white">SATKER YANG DIBINTEK</th>
      <th class="text-white">DEKSRIPSI</th>
      <th class="text-white">KENDALA</th>
      <th class="text-white">TINDAK LANJUT</th>
      <th class="text-white">DOKUMENTASI</th>
      <th class="text-white">AKSI <i class="fas fa-edit ms-2"></i></th>
    </tr>
  </thead>
  <tbody class="align-tr-middle"></tbody>
</table>