<!-- <table class="table table-bordered" id="__table">
  <thead class="" style="background-color: #2ca8dc;">
    <tr class="text-center">
      <th style="color: white;"></th>
      <th style="color: white;">SATUAN KERJA / PELAKSANA KEGIATAN</th>
      <th style="color: white;">JUMLAH KEGIATAN</th>
      <th style="color: white;">AKSI <i class="fas fa-edit ms-2"></i></th>
    </tr>
  </thead>
  <tbody class="align-tr-middle text-white"></tbody>
</table>
 -->


<table class="table table-bordered" id="__table">
  <thead class="" style="background-color: #2ca8dc;">
    <tr>
      <th style="color: white;">NO</th>
      <th style="color: white;">SATKER PELAKSANA</th>
      <th style="color: white;">TANGGAL</th>
      <th style="color: white;">SATUAN KERJA YANG DIUNDANG</th>
      <th style="color: white;">DESKRIPSI</th>
      <th style="color: white;">KENDALA</th>
      <th style="color: white;">KESIMPULAN</th>
      <th style="color: white;">TINDAK LANJUT</th>
      <th style="color: white;">DOKUMENTASI</th>
      <th style="color: white;">AKSI</th>
    </tr>
  </thead>
  <tbody class="align-tr-middle text-white"></tbody>
</table>