<table id="__table" class="table table-bordered">
    <thead class="bg-soft-blue">
        <tr>
            <th class="bg-soft-success">No</th>
            <th class="bg-soft-success">Satker Pelaksana</th>
            <th class="bg-soft-success">Tanggal</th>
            <th class="bg-soft-success">Jumlah Hari Pelaksanaan Kerja</th>
            <th class="bg-soft-success">Satker Target</th>
            <th class="bg-soft-success">Jumlah Peserta</th>
			<th class="bg-soft-success">Tujuan</th>
            <th class="bg-soft-success">Hambatan/Kendala</th>
            <th class="bg-soft-success">Kesimpulan</th>
            <th class="bg-soft-success">Tindak Lanjut</th>
            <th class="bg-soft-success">Dokumentasi</th>
            <th class="bg-soft-success">Aksi</th>
        </tr>
    </thead>
	<tbody class="align-tr-middle">
	</tbody>
</table>

{% comment %} <table id="__table" class="table table-bordered">
    <thead class="bg-soft-blue">
        <tr>
            <th rowspan="2" class="bg-soft-success">No</th>
            <th rowspan="2" class="bg-soft-success">Satker Pelaksana</th>
            <th rowspan="2" class="bg-soft-success">Tanggal <br /><span
                    class="text-muted">(Hari/Bulan/Tahun)</span></th>
            <th rowspan="2" class="bg-soft-success">Jumlah Hari Pelaksanaan Kerja</th>
            <th rowspan="2" class="bg-soft-success">Satker Target</th>
            <th rowspan="2" class="bg-soft-success">Jumlah Peserta</th>
            <th rowspan="1" colspan="3" class="bg-soft-primary">Rincian Hasil Pelaksanaan Program
                Pemberdayaan Alternatif Pada Satker
                Target</th>
            <th rowspan="2" class="bg-soft-success">Tindak Lanjut</th>
            <th rowspan="2" class="bg-soft-success">Dokumentasi</th>
            <th rowspan="2" class="bg-soft-success">Aksi <i class="fas fa-edit ms-2"></i></th>
        </tr>
        <tr>
            <th rowspan="1" class="bg-soft-primary">Tujuan</th>
            <th rowspan="1" class="bg-soft-primary">Hambatan/Kendala</th>
            <th rowspan="1" class="bg-soft-primary">Kesimpulan</th>
        </tr>
    </thead>
	<tbody class="align-tr-middle">
	</tbody>
</table> {% endcomment %}