<div class="modal fade" id="detailtesurineModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitleId">Detail Test Urine untuk Satker <b>BNN Provinsi Jawa Barat</b></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead class="bg-soft-blue">
              <tr>
                <th colspan="7" rowspan="1">Pelaksanaan</th>
                <th rowspan="2">Jumlah Peserta</th>
              </tr>
              <tr>
                <th scope="col" rowspan="2">No</th>
                <th scope="col" rowspan="2">Nasional</th>
                <th scope="col" rowspan="2">Provinsi</th>
                <th scope="col" rowspan="2">Kota/Kabupaten</th>
                <th scope="col" rowspan="2">Kecamatan</th>
                <th scope="col" rowspan="2">Kelurahan/Desa</th>
                <th scope="col" rowspan="2">Lingkungan</th>
              </tr>
            </thead>
            <tbody>
              <tr class="">
                <td rowspan="1">1</td>
                <td rowspan="1">Contoh Nasional</td>
                <td rowspan="1">Contoh Provinsi</td>
                <td rowspan="1">Contoh Kota/Kabupaten</td>
                <td rowspan="1">Contoh Kecematan</td>
                <td rowspan="1">Contoh Kelurahan Desa</td>
                <td rowspan="1">Contoh Lingkungan</td>
                <td rowspan="1">Contoh Jumlah Peserta</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          <i class="fas fa-xmark me-2"></i>
          Tutup
        </button>
      </div>
    </div>
  </div>
</div>