{% extends "dashboard/dashboard_base.html" %}
{% load static %}
{% block title %} Formulir Elektronik {% endblock title %}
{% block content %}
<div class="breadcrumb">
   <div class="row">
      <h3 class="heading mb-2">
         Formulir Elektronik
      </h3>
      <span class="mb-0">
         <span class="text-muted fw-light">Survei /</span><span class="ms-1 fw-medium">Formulir Elektronik</span>
       </span>
   </div>
</div>

<section id="__data">
   <div class="card">
      <div class="card-body">

        <div id="headline" class="mb-3">
            <h3 class="text-center">PENGELOLAAN DATA FORMULIR ELEKTRONIK TAHUN  2024</h3>
            <hr>
        </div>

         <div class="action-button">
            <div class="d-flex justify-content-end mb-3 gap-2">
               <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exportData">
                  <i class="fas fa-file-export me-2"></i>Ekspor Data
               </button>
               <a class="btn btn-primary" href="/survey/formulir_elektronik/create/">
                  <i class="fas fa-plus me-2"></i>Tambah Data
               </a>
            </div>
         </div>
         <div class="table-responsive">
            <div id="table-formulir-elektronik">
                <v-table></v-table>
            </div>
            {% include "formulir_elektronik/table.html" %}
            {% comment %} {% include "psm/tables/table_monev.html" %} {% endcomment %}
         </div>
      </div>
   </div>
</section>
{% endblock content %}

{% block js_tambahan %}
<script>
    $(document).ready(function () {

        let dataTable = $('#__table').DataTable({
            language: dt_lang_config(),
            columnDefs: [{
                targets: [1],
                visible: false,
            }],
            order: [[1, 'desc']]
        });

        $('#__table tbody').on('click', '.button_edit', function () {

            let rowData = dataTable.row($(this).closest('tr')).data();
            let id = rowData[1];

            console.log(rowData)
           
        });

        $('#__table tbody').on('click', '.button_delete', function () {

            let rowData = dataTable.row($(this).closest('tr')).data();
            let id = rowData[1];

            console.log(rowData)

         });
    });
</script>
{% endblock %}