{% extends 'dashboard/dashboard_base.html' %}
{% load static %}
{% block title %}
  Monev Supervisi Kegiatan Kotan
{% endblock %}
{% block content %}
  <div class="breadcrumb">
    <div class="row">
      <h3 class="heading mb-2">Monev Supervisi Kegiatan Kotan</h3>
      <span class="mb-0">
        <span class="text-muted fw-light">Kegiatan /</span>
        <span class="text-muted fw-light">PSM /</span>
        <span class="ms-1 fw-medium">Monev Supervisi Kegiatan Kotan</span>
      </span>
    </div>
  </div>

  <section id="__data">
    <div class="card">
      <div class="card-body">
        <div id="headline" class="mb-3">
          <h3 class="text-center">MONEV SUPERVISI KEGIATAN KOTAN</h3>
          <hr />
        </div>

        <div class="action-button">
          <div class="d-flex justify-content-end mb-3 gap-2">
            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exportData"><i class="fas fa-file-export me-2"></i>Ekspor Data</button>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#tambahData"><i class="fas fa-plus me-2"></i>Tambah Data</button>
          </div>
        </div>
        <div class="table-responsive">
          <!-- {% include 'psm/monev_supervisi_kegiatan_kotan/table.html' %} -->
            <div id="example" class='container'></div>

        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block css_tambahan %}
  <!-- <link rel="stylesheet" href="{% static 'assets/dashboard/vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" /> -->
  <!-- <script src="{% static 'assets/dashboard/vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
  <script src="{% static 'assets/dashboard/vendor/libs/jquery-repeater/jquery-repeater.js' %}"></script>
  <script src="{% static 'assets/dashboard/vendor/libs/bootstrap-select/bootstrap-select.js' %}"></script>
  <script src="{% static 'assets/dashboard/js/bawaan/forms-extras.js' %}"></script>

  <script>
    let table = $('#__table').DataTable({
      language: dt_lang_config()
    })
    $('#deleteData').on('click', function () {
      Swal.fire({
        title: 'Apakah anda yakin?',
        html: `Data yang <strong>dihapus</strong> tidak dapat dipulihkan kembali.`,
        icon: 'warning',
        showCancelButton: true,
        cancelButtonText: 'Batalkan',
        confirmButtonText: 'Ya, hapus data ini!'
      }).then((result) => {
        if (result.isConfirmed) {
          console.log('User clicked the confirm button ...')
    
          Swal.fire({
            title: 'Tunggu sebentar',
            icon: 'info',
            html: `Menghapus <b>data</b> yang anda dipilih..`,
            timer: 2000,
            didOpen: () => {
              Swal.showLoading()
            }
          }).then((result) => {
            if (result.dismiss === Swal.DismissReason.timer) {
              Swal.fire({
                title: 'Berhasil',
                html: `Data yang dipilih telah <strong>berhasil</strong> dihapus.`,
                icon: 'success',
                confirmButtonText: 'OK',
                timer: 2000
              })
            }
          })
        }
      })
    })
  </script> -->

  <script src="{% static 'assets/dashboard/vendor/libs/nested-datatables/nested.tables.js' %}"></script>

  <script>
window.addEventListener('load', function() {
  const dataInJson = [
    {
        "id": "15",
        "nama_satker": "BNNP Jawa Barat",
        "tanggal_awal": "2024-03-01",
        "tanggal_akhir": "2024-03-22",
        "deskripsi": "TEST",
        "level": "0",
        "bnnk": [
            {
                "bnnk": "BNN Kabupaten Cianjur",
                "data": [
                    {
                        "tanggal_awal": "2024-03-21",
                        "tanggal_akhir": null,
                        "deskripsi": "asd"
                    },
                    {
                        "tanggal_awal": "2024-03-21",
                        "tanggal_akhir": null,
                        "deskripsi": "asd"
                    }
                ]
            }
        ]
    },
    {
        "id": "213",
        "nama_satker": "BNN Pusat",
        "tanggal_awal": "2024-03-23",
        "tanggal_akhir": "2024-03-23",
        "deskripsi": "Mom",
        "level": "2",
        "bnnk": [
            {
                "tanggal_awal": "2024-03-21",
                "tanggal_akhir": null,
                "deskripsi": "asd"
            }
        ]
    },
    {
        "id": "16",
        "nama_satker": "BNNP Jawa Tengah",
        "tanggal_awal": "2024-03-23",
        "tanggal_akhir": "2024-09-12",
        "deskripsi": "Proident iusto adip",
        "level": "0",
        "bnnk": [
            {
                "bnnk": "BNN Kota Tegal",
                "data": [
                    {
                        "tanggal_awal": "2024-03-23",
                        "tanggal_akhir": "2024-04-30",
                        "deskripsi": "Officia ad qui quibu"
                    }
                ]
            }
        ]
    }
];

      const settings = {
        iDisplayLength: 20,
        bLengthChange: false,
        bFilter: false,
        bSort: false,
        bInfo: false,
      };

      const tableCoba = new nestedTables.TableHierarchy(
        "example",
        dataInJson,
        settings
      );

      tableCoba.initializeTableHierarchy();
})
  </script>
{% endblock %}

{% block modal_tambahan %}
  {% include 'psm/monev_supervisi_kegiatan_kotan/create.html' %}
  {% include 'psm/monev_supervisi_kegiatan_kotan/create_kegiatan.html' %}
  {% include 'psm/monev_supervisi_kegiatan_kotan/edit.html' %}
  {% include 'psm/monev_supervisi_kegiatan_kotan/edit_kegiatan.html' %}
  {% include 'psm/monev_supervisi_kegiatan_kotan/detail_pelaksanaan.html' %}
  {% include 'psm/monev_supervisi_kegiatan_kotan/detail_peserta.html' %}
{% endblock %}
