<form id="editForm" onsubmit="handleUpdate(event)">
    <div class="modal fade" id="editModal">
        <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Data <b>Kegiatan</b> untuk Satuan Kerja Pelaksana <b
                            id="edit__info"></b></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body"
                    x-data="{ startDate: '', endDate: '', jumlahHari: '0 hari', kendalaYesShowKeterangan: false, kendalaValue: '', tindakLanjutYesShowKeterangan: false, tindakLanjutNoShowContainer: false, tindakLanjutNoShowContainerLaninya: false, tindakLanjutValue: '', apalah: 'woilah' }">
                    <input type="hidden" id="edit__id" />

                    <div class="mb-3">
                        <label for="edit__satker" class="col-form-label required">Satuan Kerja
                            Pelaksana:</label>
                        {% comment %} <select class="form-control select2" id="edit__satker" required>
                            <option value="" selected disabled>--Pilih Satuan Kerja Pelaksana--</option>
                            {% for item in satker %}
                            <option value="{{ item.pk }}">{{ item.nama_satker }}</option>
                            {% endfor %}
                        </select> {% endcomment %}
                        <select class="form-control select2" id="edit__satker" disabled>
                            <option value="{{ user.profile.satker.pk }}" selected>{{ user.profile.satker.nama_satker }}
                            </option>
                        </select>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="edit__tanggal_awal" class="col-form-label required">Tanggal
                                    Awal:</label>
                                <input type="date" id="edit__tanggal_awal" class="form-control" x-model="startDate"
                                    x-on:change="calculateDays" data-type="edit" :max="endDate" x-ref="editStartDate"
                                    required />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="edit__tanggal_akhir" class="col-form-label required">Tanggal
                                    Akhir:</label>
                                <input type="date" id="edit__tanggal_akhir" class="form-control" x-model="endDate"
                                    x-on:change="calculateDays" data-type="edit" x-ref="editEndDate" :min="startDate" />
                            </div>
                        </div>
                    </div>

                    <label for="edit__tanggal_helpers" class="col-form-label text-important">Jumlah Hari Pelaksanaan
                        Kerja akan digenerate secara <b>otomatis</b> oleh sistem berdasarkan inputan dari <b>Tanggal
                            Awal</b> dan <b>Tanggal Akhir</b>.</label>

                    <div class="mb-3">
                        <label for="edit__jumlah_hari_pelaksanaan" class="col-form-label required">Jumlah
                            Hari Pelaksanaan Kerja:</label>
                        <input type="text" class="form-control" id="edit__jumlah_hari_pelaksanaan" x-model="jumlahHari"
                            disabled readonly />
                    </div>

                    <div class="mb-3">
                        <label for="edit__satker_target" class="col-form-label required">Satuan Kerja
                            Target:</label>
                        {% comment %} <select class="form-control select2" id="edit__satker_target" required disabled>
                            <option value="" selected disabled>--Pilih Satuan Kerja Target--</option>
                        </select> {% endcomment %}

                        <select class="form-control select2" id="edit__satker_target" required>
                            <option value="" selected disabled>--Pilih Satuan Kerja Target--</option>
                            {% for item in satker %}
                            <option value="{{ item.pk }}">{{ item.nama_satker }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="edit__jumlah_peserta" class="col-form-label required">Jumlah Peserta:</label>

                        <div class="input-group input-group-merge">
                            <input type="number" class="form-control" id="edit__jumlah_peserta" maxlength="3" required />
                            <span class="input-group-text">orang</span>
                        </div>
                    </div>

                    <hr class="mx-n4">

                    <!-- Rincian Hasil -->
                    <div class="mb-3">
                        <label for="pelaksanaan" class="col-form-label required text-light">Rincian Hasil Pelaksanaan
                            Program Pemberdayaan Alternatif Pada Satker Target:</label>

                        <div class="mb-3">
                            <label for="edit__tujuan" class="col-form-label required">Tujuan:</label>
                            <textarea class="form-control" id="edit__tujuan" required></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="edit__kendala" class="col-form-label required">Hambatan
                                Kendala:</label>

                            <div class="form-check mt-3">
                                <input class="form-check-input" type="radio" name="edit__kendala_ketersediaan"
                                    id="edit__kendala_ketersediaan_yes" x-on:click="kendalaYesShowKeterangan = true" />
                                <label class="form-check-label" for="edit__kendala_ketersediaan_yes">Ada, sebutkan
                                    ...</label>
                            </div>

                            <div class="ps-4">
                                <textarea class="form-control my-3" id="edit__kendala_yes_keterangan"
                                    name="edit__kendala_yes_keterangan" x-show="kendalaYesShowKeterangan"
                                    x-on:change="kendalaValue = 'Ada, ' + $event.target.value;"
                                    x-bind:required="kendalaYesShowKeterangan"></textarea>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="edit__kendala_ketersediaan"
                                    id="edit__kendala_ketersediaan_no"
                                    x-on:click="kendalaYesShowKeterangan = false; kendalaValue = 'Tidak'" />
                                <label class="form-check-label" for="edit__kendala_ketersediaan_no">Tidak</label>
                            </div>

                            <input type="hidden" id="edit__kendala" x-bind:value="kendalaValue" />

                            {% comment %} <textarea class="form-control" id="edit__kendala" required></textarea>
                            {% endcomment %}
                        </div>

                        <div class="mb-3">
                            <label for="edit__kesimpulan" class="col-form-label required">Kesimpulan:</label>
                            <textarea class="form-control" id="edit__kesimpulan" required></textarea>
                        </div>

                    </div>

                    <hr class="mx-n4">

                    <div class="mb-3">
                        <label for="edit__tindak_lanjut" class="col-form-label required">Tindak Lanjut:</label>
                        
						{% comment %} <textarea class="form-control" id="edit__tindak_lanjut" required></textarea> {% endcomment %}

						<div class="form-check mt-3">
                            <input class="form-check-input" type="radio" name="edit__tindak_lanjut_ketersediaan" id="edit__tindak_lanjut_ketersediaan_yes" value="yes"
                                x-on:click="tindakLanjutYesShowKeterangan = true; tindakLanjutNoShowContainer = false" />
                            <label class="form-check-label" for="edit__tindak_lanjut_ketersediaan_yes">Ada, sebutkan ...</label>
                        </div>
                    
                        <div class="ps-4">
                            <textarea class="form-control my-3" id="edit__tindak_lanjut_yes_keterangan" x-show="tindakLanjutYesShowKeterangan" x-on:change="tindakLanjutValue = 'Ada, ' + $event.target.value;"  x-bind:required="tindakLanjutYesShowKeterangan"></textarea>
                        </div>
                    
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="edit__tindak_lanjut_ketersediaan" id="edit__tindak_lanjut_ketersediaan_no" value="no"
                                x-on:click="tindakLanjutYesShowKeterangan = false; tindakLanjutNoShowContainer = true" />
                            <label class="form-check-label" for="edit__tindak_lanjut_ketersediaan_no">Tidak</label>
                        </div>
                    
                        <div id="create_tindak_lanjut_no_container" class="ps-4 mt-1" x-show="tindakLanjutNoShowContainer">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="edit__tindak_lanjut_ketersediaan_no" id="edit__tindak_lanjut_ketersediaan_no_pemblokiran" value="Pemblokiran"
                                    x-on:click="tindakLanjutValue = 'Tidak, Pemblokiran', tindakLanjutNoShowContainerLaninya = false;" />
                                <label class="form-check-label" for="edit__tindak_lanjut_ketersediaan_no_pemblokiran">A. Pemblokiran</label>
                            </div>
                    
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="edit__tindak_lanjut_ketersediaan_no" id="edit__tindak_lanjut_ketersediaan_no_anggaran"
                                    value="Anggaran tidak ada alokasi kegiatan" x-on:click="tindakLanjutValue = 'Tidak, Anggaran tidak ada alokasi kegiatan', tindakLanjutNoShowContainerLaninya = false;" />
                                <label class="form-check-label" for="edit__tindak_lanjut_ketersediaan_no_anggaran">B. Anggaran tidak ada alokasi kegiatan</label>
                            </div>
                    
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="edit__tindak_lanjut_ketersediaan_no" id="edit__tindak_lanjut_ketersediaan_no_lainnya"
                                    value="Lainnya" x-on:click="tindakLanjutNoShowContainerLaninya = true; tindakLanjutValue = 'Tidak, Lainnya, ' + $event.target.value" />
                                <label class="form-check-label" for="edit__tindak_lanjut_ketersediaan_no_lainnya">C. Lainnya, sebutkan ...</label>
                            </div>
                    
                            <div class="ps-4">
                                <textarea class="form-control mt-3" id="edit__tindak_lanjut_ketersediaan_no_keterangan" x-show="tindakLanjutNoShowContainerLaninya" x-on:change="tindakLanjutValue = $event.target.value"   x-bind:required="tindakLanjutNoShowContainerLaninya"></textarea>
                            </div>
                        </div>
                    
                        <input type="hidden" id="edit__tindak_lanjut" x-bind:value="tindakLanjutValue" />

                    </div>
                    <div class="mb-3">
                        <label for="edit__dokumentasi" class="col-form-label optional">Dokumentasi:</label>
                        <input type="file" class="form-control" id="edit__dokumentasi"
                            accept=".csv, .xlsx, .pdf, docx."></input>

                        <div class="mt-2">
                            <span class="text-important">Kosongkan <b>bagian</b> ini jika tidak ingin mengganti file
                                dokumentasi.</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                        <i class="fas fa-xmark me-2"></i>Tutup</button>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save me-2"></i>
                        Simpan</button>
                </div>
            </div>
        </div>
    </div>
</form>