{% extends 'dashboard/dashboard_base.html' %}
{% load static %}
{% block title %} Daftar Berita {% endblock %}

{% block modal_tambahan %}
{% include "berita/modals/create_berita_modal.html" %}
{% include "berita/modals/edit_berita_modal.html" %}
{% endblock modal_tambahan %}

{% block content %}

<div class="breadcrumb">
    <div class="row">
        <h3 class="heading mb-2">Daftar Berita</h3>
        <span class="mb-0"><span class="text-muted fw-light">Berita /</span><span class="ms-1 fw-medium">Daftar
                Berita</span></span>
    </div>
</div>
<section id="__data">
    <div class="card">
        <div class="card-body">
            <div id="headline" class="mb-3">
                <h3 class="text-center">Berita Sistem Pemberdayaan Masyarakat</h3>
                <hr />
            </div>

            <div class="action-button">
                <div class="d-flex justify-content-end mb-3 gap-2">
                    {% comment %} <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exportData"><i
                            class="fas fa-file-export me-2"></i>Ekspor Data</button> {% endcomment %}
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal"><i
                            class="fas fa-plus me-2"></i>Tambah Data</button>
                </div>
            </div>

            <div class="table-responsive">
                {% include 'berita/table_berita.html' %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js_tambahan %}
<!-- CK EDITOR -->
<script src="https://cdn.ckeditor.com/ckeditor5/41.0.0/classic/ckeditor.js"></script>

<script>
    let create_berita_editor = null;
    let edit_berita_editor = null;

    ClassicEditor
        .create(document.querySelector('#isi_berita'))
        .then(editor => {
            console.log('Editor was initialized :', editor);
            create_berita_editor = editor;
        })
        .catch(error => {
            console.error(error);
        });
    
    ClassicEditor
        .create(document.querySelector('#edited_isi_berita'))
        .then(editor => {
            console.log('Editor was initialized :', editor);
            edit_berita_editor = editor;
        })
        .catch(error => {
            console.error(error);
        });
</script>

<script src="{% static 'berita/dt.js' %}"></script>
<script src="{% static 'berita/dt_filters.js' %}"></script>
<script src="{% static 'berita/actions.js' %}"></script>
{% endblock %}