/* ===========================
   CUSTOM DASHBOARD SETTINGS
============================== */

:root {
    --text-important: #00a0a9;
}

/* ===SCROLLBAR===  */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: #a9a9a9;
}

/* ======= HTML ELEMENT ======= */
a[disabled] {
    cursor: default;
}
  

/* ===Utilities=== */
/* ==CUSTOM BACKGROUND COLOR */
.bg-soft-red,
.bg-soft-danger {
    background-color: #fff2f2 !important;
}

.bg-soft-warning {
    background-color: #fffdf0 !important;
}

.bg-soft-gray {
    background-color: #f5f5f5 !important;
}

.bg-soft-success,
.bg-soft-green {
    background-color: #effff2 !important;
}

.bg-soft-blue,
.bg-soft-primary {
    background-color: #eff3ff !important;
}

.bg-already-sended {
    background-color: #b2b2b2;
}

.bg-already-sended:hover,
.bg-already-sended:active,
.bg-already-sended:focus {
    background-color: #9c9c9c;
}

.bg-lihat-hasil {
    background-color: #8e19e1;
}

.bg-lihat-hasil:hover,
.bg-lihat-hasil:active,
.bg-lihat-hasil:focus {
    background-color: #6d16ab;
}


/* ==========================
 * UTILITY
============================= */
.action-disabled {
    cursor: not-allowed;
    /* pointer-events: none; */
}

.pointer-none {
    pointer-events: none;
}

.text-capitilize {
    text-transform: capitalize;
}

.ms-0-15r {
    margin-left: 0.15rem;
}

.text-important {
    color: var(--text-important) !important;
}

.hr-light {
    color: #dadada;
}


/* ==========================
 * TABLE
============================= */
/* Table header align */
table thead th {
    vertical-align: middle !important;
}

/* Table body align */
table tbody tr td {
    vertical-align: top;
}

table tbody tr td:first-child {
    text-align: center;
}

table tbody tr td[scope="row"] {
    text-align: center;
}

table tbody tr.align-td-middle td {
    vertical-align: middle;
}

table tbody.align-tr-middle tr td {
    vertical-align: middle;
}

table ul li span.label {
    width: 150px;
    display: inline-block;
}

table ul li span.value {
    padding-left: 10px;
    font-weight: bold;
}

td > .list-button {
    vertical-align: bottom;
}


/* ===TOPBAR BUTTON ROLE INFORMATION */
#btn-role {
    text-transform: uppercase !important;
}

/* ===UTILITY=== */
.ms-0-15r {
    margin-left: 0.15rem;
}

sup.ms-0-15r.text-danger {
    user-select: none;
}

sup.required {
    color: red;
    margin-left: 0.15rem;
    user-select: none;
}

.all-unset {
    all: unset;
}


/* ======= BUTTON ======= */
.list-button {
    text-align: left !important;
}

.list-button a {
    display: block;
    text-transform: uppercase;
}

.list-button button {
    border: 0;
    text-transform: uppercase;
    padding: 0.5em 1em;
    text-align: center;
    width: -webkit-fill-available;
}

/* ===SELECT 2=== */
.select2-container {
    width: auto !important;
    display: block;
}

/* ==!! OVERRIDING DEFAULT THEME !!== */

/**=== SIDEBAR ===**/
aside#layout-menu.bg-menu-theme .menu-header {
    color: #fff;
}

aside#layout-menu.bg-menu-theme .menu-link,
aside#layout-menu.bg-menu-theme .menu-horizontal-prev,
aside#layout-menu.bg-menu-theme .menu-horizontal-next {
    color: #fff;
}

aside#layout-menu.bg-menu-theme .menu-item.open:not(.menu-item-closing)>.menu-toggle,
.bg-menu-theme .menu-item.active>.menu-link {
    color: #ffffff;
}

aside#layout-menu.bg-menu-theme .menu-inner .menu-sub .menu-item:not(.active)>.menu-link::before {
    color: #fff !important;
}

aside#layout-menu ul.menu-inner.menu-inner-logout {
    height: 100px;
}

aside#layout-menu ul.menu-inner.menu-inner-logout li.menu-item.logout-item {
    margin-top: 20px;
    position: fixed;
    bottom: 0;
}

section table.table {
    border-left: 2px solid #eee;
    border-right: 2px solid #eee;
}

/**=== SIDEBAR BRAND (LOGO BNN) ===**/
.app-brand-link img {
    width: 50px;
    object-fit: contain;
    position: absolute;
    left: 20px;
}

.app-brand-text.demo {
    padding-left: 50px !important;
}

/* ==========================
 * MODAL
============================= */
.modal.modal-literasi .modal-body {
    padding: 0;
}

.modal.modal-literasi .modal-body .container-fluid {
    padding: 5px;
}

/* ==========================
 * CKEDITOR CUSTOM CSS
============================= */
.ck-editor__editable {
    min-height: 250px;
}

/**=== VUE JS STYLING ===**/
[v-cloak] {
    display: none;
}

.v-enter-active,
.v-leave-active {
    transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}

/* ======================
   RESPONSIVE BREAKPOINTS
========================= */
@media (max-width: 800px) {
    a#btn-role {
        font-size: 1.3rem;
    }

    ul li.user-info-dropdown a .row .col:nth-child(2),
    ul li.user-info-dropdown a .row .col:nth-child(3) {
        display: none;
    }
}

@media (max-width: 450px) {
    a#btn-role {
        font-size: 0.8rem;
        padding: 6px 15px;
    }
}

/* ==========================
 * ANIMATION
============================= */
.fade-in {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
}

.fade-in-text-25 {
    opacity: 25%;
}

.fade-in-text-25:hover {
    opacity: 100%;
    transition: opacity 500ms;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    -o-transition: opacity 500ms;
}

.fade-in-text-0 {
    opacity: 0%;
    transition: opacity 500ms;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    -o-transition: opacity 500ms;
}

.fade-in-text-0:hover {
    opacity: 100%;
    transition: opacity 500ms;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    -o-transition: opacity 500ms;
}

.fade-in-text-50 {
    opacity: 50%;
    transition: opacity 500ms;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    -o-transition: opacity 500ms;
}

.fade-in-text-50:hover {
    opacity: 100%;
    transition: opacity 500ms;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    -o-transition: opacity 500ms;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* ======= VUE TRANSITION ======= */
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to


.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}