<div class="modal fade" id="tambahDataKegiatan" aria-labelledby="modalTambah" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTambah">Tambah Data</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="tanggal" class="col-form-label">Tanggal:</label>
              <input type="date" name="tanggal" class="form-control" id="tanggal" />
            </div>
            <div class="mb-3">
              <label for="peserta" class="col-form-label">Peserta:</label>
              <input type="text" class="form-control" name="peserta" id="peserta">
            </div>
            <div class="mb-3">
              <label for="lingkungan" class="col-form-label">Lingkungan:</label>
              <input type="text" class="form-control" name="lingkungan" id="lingkungan">
            </div>
            <div class="mb-3">
              <label for="deskripsi" class="col-form-label">Deskripsi Hasil</label>
              <textarea class="form-control" name="deskripsi_hasil" id="deskripsi_hasil"></textarea>
            </div>
            <div class="mb-3">
              <label for="hambatan_kendala" class="col-form-label">Hambatan atau Kendala:</label>
              <textarea class="form-control" name="hambatan_kendala" id="hambatan_kendala"></textarea>
            </div>
            <div class="mb-3">
              <label for="simpulan" class="col-form-label">Simpulan:</label>
              <textarea class="form-control" name="simpulan" id="simpulan"></textarea>
            </div>
            <div class="mb-3">
              <label for="tindak_lanjut" class="col-form-label">Rekomendasi Tindak Lanjut:</label>
              <textarea class="form-control" name="tindak_lanjut" id="tindak_lanjut"></textarea>
            </div>
            <div class="mb-3">
              <label for="dokumentasi" class="col-form-label">Dokumentasi</label>
              <input type="file" class="form-control" id="dokumentasi" aria-describedby="inputGroupFileAddon03" aria-label="Upload" />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-xmark me-2"></i>Tutup</button>
          <button type="button" class="btn btn-primary">
            <i class="fas fa-save me-2"></i>
            Simpan
          </button>
        </div>
      </div>
    </div>
  </div>
  