<table class="table table-bordered" id="__table">
  <thead style="background-color: #2ca8dc;">
    <tr>
      <th rowspan="2" class="putih" style="color: white;">No</th>
      <th rowspan="2" class="putih" style="color: white;">Satuan Kerja</th>
      <th rowspan="1" colspan="3" class="putih" style="text-align: center; color: white;">Pelaksanaan</th>
      <th rowspan="2" class="putih" style="color: white;">Deskripsi Hasil</th>
      <th rowspan="2" class="putih" style="color: white;">Kendala/Hambatan</th>
      <th rowspan="2" class="putih" style="color: white;">Kesimpulan</th>
      <th rowspan="2" class="putih" style="color: white;">Tindak Lanjut</th>
      <th rowspan="2" class="putih" style="color: white;">Dokumentasi</th>
      <th rowspan="2" class="putih" style="color: white;">Aksi <i class="fas fa-edit ms-2"></i></th>
    </tr>
    <tr>
      <th rowspan="1" class="putih" style="color: white;">Tanggal</th>
      <th rowspan="1" class="putih" style="color: white;">Peserta</th>
      <th rowspan="1" class="putih" style="color: white;">Lingkungan</th>
    </tr>
  </thead>
  <tbody>
    
  </tbody>
</table>