{% load static %}

<!-- Components -->
<script src="{% static 'dayatif/components.js' %}"></script>

<!-- Importing -->
<script>
    const components = {
        'v-item-header': ItemHeader,
        'v-item-dokumentasi': ItemDokumentasi,
        'v-item-tanggal': ItemTanggal,
        'v-item-text': ItemText,
        'v-result-not-found': ResultNotFound,
        'v-lokasi': Lokasi,
        'v-daftar-stakeholder': DaftarStakeholder,
        'v-daftar-peserta': DaftarPeserta,
        'v-action-button': ActionBTN,
        'v-export-button': ExportBTN,
        'v-page-action-button': PageActionBTN,
        'v-table': Table,
        'v-table-basic-filter': TableBasicFilter,
        'v-generic-filter': GenericFilter,
        'v-input-image': InputImage,
    }

    delimiters = ['{', '}'];
</script>
