<div class="modal fade" id="detailtesurineModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitleId">Detail Test Urine untuk Satker <b>BNN Provinsi Jawa Barat</b></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead class="bg-soft-blue">
              <tr>
                <th colspan="2" rowspan="1">Pelaksanaan</th>
                <th colspan="3" rowspan="1">Satker / Lingkungan Yang Dilakukan Supervisi</th>
                <th rowspan="3">Jumlah Peserta</th>
              </tr>
              <tr>
                <th scope="col" rowspan="2">No</th>
                <th scope="col" rowspan="2">Tanggal</th>
                <th scope="col" rowspan="2">Nama Lingkungan Dan Satker</th>
                <th colspan="2" rowspan="1" class="text-center">Peserta</th>
              </tr>
              <tr>
                <!-- <th scope="col" rowspan="1">Nama dan Jabatan</th> -->
                <th scope="col" rowspan="1">Pria</th>
                <th scope="col" rowspan="1">Wanita</th>
              </tr>
            </thead>
            <tbody>
              <tr class="">
                <td rowspan="1">1</td>
                <td rowspan="1">28 Agustus s/d 29 September 2022</td>
                <td rowspan="1">BNN RI Melakukan Supervisi Ke BNNP/BNNK/Lingkungan Di Wilayah BNNP Dan BNNK</td>
                <td rowspan="1">
                  <span class="text-primary">8</span>
                </td>
                <td rowspan="1">
                  <span class="text-danger">10</span>
                </td>
                <td rowspan="1">18</td>
              </tr>
              <tr class="">
                <td rowspan="1">2</td>
                <td rowspan="1">12 November s/d 05 Januari 2023</td>
                <td rowspan="1">BNN RI Melakukan Supervisi Ke BNNP/BNNK/Lingkungan Di Wilayah BNNP Dan BNNK</td>
                <td rowspan="1">
                  <span class="text-primary">12</span>
                </td>
                <td rowspan="1">
                  <span class="text-danger">23</span>
                </td>
                <td rowspan="1">35</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          <i class="fas fa-xmark me-2"></i>
          Tutup
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="tambahData" aria-labelledby="modalTambah" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTambah">Tambah Data</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="satker" class="col-form-label">Satuan Kerja:</label>
            <select name="selectSatker" id="selectSatker" class="form-control">
              <option value="" selected disabled>Pilih Satuan Kerja</option>
              {% for item in satker %}
                <option value="{{ item.nama_satker }}">{{ item.nama_satker }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-3">
            <label for="jumlah_kegiatan" class="col-form-label">Jumlah Kegitan:</label>
            <input type="text" name="jumlah_kegiatan" class="form-control" id="jumlah_kegiatan" />
          </div>
          <div class="mb-3">
            <label for="nomor" class="col-form-label">Deskripsi Hasil:</label>
            <input type="text" name="nomor" class="form-control" id="nomor" />
          </div>
          <div class="mb-3">
            <label for="tanggal" class="col-form-label">Simpulan:</label>
            <input type="date" name="tanggal" class="form-control" id="tanggal" />
          </div>
          <div class="mb-3">
            <label for="jumlah_kegiatan" class="col-form-label">Tindak Lanjut:</label>
            <input type="text" name="jumlah_kegiatan" class="form-control" id="lingkungan" />
          </div>
          <div class="mb-3">
            <label for="hambatan_kendala" class="col-form-label">Dokumentasi:</label>
            <input type="text" name="jumlah_kegiatan" class="form-control" id="lingkungan" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
        <button type="button" class="btn btn-primary">Simpan</button>
      </div>
    </div>
  </div>
</div>
