 <table class="table table-bordered" id="__table">
  <thead class="" style="background-color: #2ca8dc;">
    <tr>
      <th style="color: white;">NO</th>
      <th style="color: white;">SATKER PELAKSANA</th>
      <th style="color: white;">TANGGAL</th>
      <th style="color: white;">NAMA LINGKUNGAN</th>
      <th style="color: white;">PRIA</th>
      <th style="color: white;">WANITA</th>
      <th style="color: white;">JUMLAH PESERTA</th>
      <th style="color: white;">DAFTAR NAMA PESERTA</th>
      <th style="color: white;">HASIL TEST URINE</th>
      <th style="color: white;">TINDAK LANJUT</th>
      <th style="color: white;">DOKUMENTASI</th>
      <th style="color: white;">AKSI</th>
    </tr>
  </thead>
  <tbody class="align-tr-middle text-white"></tbody>
</table>