
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'literasi_literasi_list' %}">
    literasi Listing
    </a>
</p>
    
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.errors}}
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="created_by">created_by: </label>
      <input class="form-control col-sm-10"
         id="created_by" type="text"
         name="created_by" value="{{ object.created_by }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="created">created: </label>
      <input class="form-control col-sm-10"
         id="created" type="datetime-local"
         name="created" value="{{ object.created }}" disabled>
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="last_updated">last_updated: </label>
      <input class="form-control col-sm-10"
         id="last_updated" type="datetime-local"
         name="last_updated" value="{{ object.last_updated }}" disabled>
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="dokumen">dokumen: </label>
      <input class="form-control col-sm-10"
         id="dokumen" type="file"
         name="dokumen" value="{{ object.dokumen }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="Judul">Judul: </label>
      <input class="form-control col-sm-10"
         id="Judul" type="text"
         name="Judul" value="{{ object.Judul }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="updated_by">updated_by: </label>
      <input class="form-control col-sm-10"
         id="updated_by" type="text"
         name="updated_by" value="{{ object.updated_by }}">
  </div>
  <input type="submit" value="Save" class="btn btn-primary">
</form>

{% endblock %}