
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'literasi_literasi_list' %}">
    literasi Listing
    </a>
</p>
    
<table class="table">
    <tr><td>created_by</td><td>{{ object.created_by }}</td></tr>
    <tr><td>created</td><td>{{ object.created }}</td></tr>
    <tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
    <tr><td>dokumen</td><td>{{ object.dokumen }}</td></tr>
    <tr><td>Judul</td><td>{{ object.Judul }}</td></tr>
    <tr><td>updated_by</td><td>{{ object.updated_by }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}