<script>

    const Pagination = {
        name: 'Pagination',
        props: ['item'],
        delimiters: ['{', '}'],
        data() {
            return {
                currentPage: this.item.currentPage // Inisialisasi currentPage dengan nilai dari props item
            };
        },
        mounted() {
            // console.log(`Pagination mounted with totalPage: ${this.item.totalPage} and currentPage: ${this.currentPage}`);
        },
        computed: {
            totalPage() {
                return this.item.totalPage;
            }
        },
        template: `
                <nav id="__table_pagination" class="mt-3">
                    <ul class="pagination justify-content-end">
                        <li class="page-item prev">
                            <button :disabled='currentPage <= 1' class="page-link" @click="currentPage--">
                                <i class="ti ti-chevron-left ti-xs"></i>
                            </button>
                        </li>
                        <template v-for="page in totalPage" :key="page">
                            <li :class="{ 'page-item': true, 'active': currentPage === page }">
                                <button class="page-link" @click="currentPage=page">{ page }</button>
                            </li>
                        </template>
                        <li class="page-item">
                            <button :disabled='currentPage => totalPage' class="page-link" @click="currentPage++">
                                <i class="ti ti-chevron-right ti-xs"></i>
                            </button>
                        </li>
                    </ul>
                </nav>
            `
    };

</script>