<div class="modal fade" id="detailPelaksanaanModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">Detail Pelaksanaan untuk Satuan Kerja <strong>{{ user.profile.satker }}</strong>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-sm table-bordered">
                        <thead>
                            <tr>
                                <th class="bg-soft-danger text-center" rowspan="1" colspan="3">Pelaksanaan</th>
                                <th class="bg-soft-success" rowspan="2">Deskripsi Hasil</th>
                                <th class="bg-soft-success" rowspan="2">Kendala Hambatan</th>
                                <th class="bg-soft-success" rowspan="2">Kesimpulan</th>
                                <th class="bg-soft-success" rowspan="2">Tindak Lanjut</th>
                                <th class="bg-soft-success" rowspan="2">Dokumentasi</th>
                            </tr>
                            <tr class="bg-soft-primary">
                                <th>No.</th>
                                <th>Tanggal</th>
                                <th>Lokasi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>19/01/2024 - 20/01/2024</td>
                                <td>
                                    <ol class="my-auto">
                                        <li>Kabupaten/Kota : Aceh Utara</li>
                                        <li>Kecamatan : Sawang</li>
                                        <li>Desa/Kelurahan : Jurong</li>
                                    </ol>
                                </td>
                                <td>
                                    <ol class="my-auto">
                                        <li>Potensi SDA: sumber air melimpah; tanaman yang dapat dikembangkan jahe,
                                            durian,
                                            pinang, cabe, jagung, padi, nilam; tanah subur untuk pertanian dan
                                            perkebunan, dsb</li>
                                        <li>Potensi SDM: mayoritas penduduk usia 15 s.d 64 tahun merupakan lulusan SMA;
                                            memiliki keahlian di bidang pertanian dan perkebunan, dsb</li>
                                    </ol>
                                </td>
                                <td>
                                    <ol class="my-auto">
                                        <li>
                                            1. Ada, masyarakat Desa Jurong cenderung sulit untuk mencoba hal baru,
                                            sehingga
                                        </li>
                                    </ol>
                                </td>
                                <td>
                                    Analisis SWOT (Budidaya Jahe):
                                    <ol class="my-auto">
                                        <li>
                                            Kekuatan: Merupakan bahan baku obat herbal, minuman dan bumbu masak.
                                            Budidaya jahe merah relatif dapat dilakukan diberbagai jenis dataran atau
                                            berkisar antara 1-2000 mdpl, artinya Desa Jurong masih memiliki potensi.
                                            Penanaman dan perawatan relatif mudah.
                                        </li>
                                        <li>
                                            Kelemahan: Tanaman jahe mudah terserang hama. Membutuhkan pengairan dan
                                            perawatan intensif.
                                        </li>
                                        <li>
                                            Peluang: Bernilai ekonomis tinggi. Pangsa pasar luas. Jenis olahan yang
                                            dikembangkan relatif bervariatif.
                                        </li>
                                        <li>
                                            Tantangan: Belum ada penampungan hasil panen di desa. Belum ada tempat/
                                            link pemasaran. Belum adanya alat pertanian modern. Belum adanya regulasi
                                            satu harga penjualan jahe.
                                        </li>
                                    </ol>
                                </td>
                                <td>
                                    Dilakukan pemetaan stakeholder untuk mendukung mendukung kesiapan persiapan
                                    bimbingan teknis life skill.
                                </td>
                                <td>
                                    <a href="javascript:;" class="text-primary text-decoration-none">Lihat
                                        dokumentasi</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fas fa-xmark me-2"></i>
                    Tutup
                </button>
            </div>
        </div>
    </div>
</div>