{% extends 'dashboard/dashboard_base.html' %}
{% load static %}
{% block title %} Pemetaan Potensi {% endblock %}

{% block modal_tambahan %}
{% include 'dayatif/pemetaan_potensi/modals/create_modal.html'%}
{% include 'dayatif/pemetaan_potensi/modals/edit_modal.html' %}
{% endblock %}

{% block content %}
<div class="breadcrumb">
    <div class="row">
        <h3 class="heading mb-2">Pemetaan Potensi</h3>
        <span class="mb-0">
            <span class="text-muted fw-light">Kegiatan /</span>
            <span class="ms-1 fw-medium">Pemetaan Potensi</span>
        </span>
    </div>
</div>

<section id="__data">
    <div class="card">
        <div class="card-body">
            <div id="headline" class="mb-3">
                <h3 class="text-center">
                    PEMETAAN POTENSI SDM DAN SDA KAWASAN RAWAN NARKOBA <br />
                    <span id="currentYear"></span>
                </h3>
                <hr />
            </div>

            <div class="action-button">
                <div class="d-flex justify-content-end mb-3 gap-2">
                    <button class="btn btn-success" @click="handleExport">
                        <i class="fas fa-file-export me-2"></i>Ekspor Data
                    </button>
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">
                        <i class="fas fa-plus me-2"></i>Tambah Data
                    </button>
                </div>
            </div>

            <!-- Filters -->
            {% include "dayatif/pemetaan_potensi/partials/filters.html" %}
            <!--/ Filters -->

            <div class="table-responsive" id="__table_container">
                <table id="__table" class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="bg-soft-success text-center">
                                <i class="fas fa-circle-chevron-up"></i>
                                No.
                            </th>
                            <th class="bg-soft-success">Satuan Kerja Pelaksana</th>
                            <th class="bg-soft-success">Tanggal</th>
                            <th class="bg-soft-success" style="min-width: 450px;">Lokasi</th>
                            <th class="bg-soft-success">Deskripsi Hasil</th>
                            <th class="bg-soft-success">Hambatan/Kendala</th>
                            <th class="bg-soft-success">Kesimpulan</th>
                            <th class="bg-soft-success">Tindak Lanjut</th>
                            <th class="bg-soft-success">Dokumentasi</th>
                            <th class="bg-soft-success" style="max-width: 150px">Aksi <i class="fas fa-edit ms-2"></i>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="align-tr-middle text-white">
                        <template v-for="(item, index) in pagedData">
                            <tr :class="item.class">
                                <td class='text-center' v-text="item.index"></td>
                                <td :colspan="item.hide_satker ? 1 : 9">
                                    <template v-if="!item.hide_satker">
                                        <v-section-header :nama="item.satker.nama_satker" :length="item.jumlah_kegiatan" />
                                    </template>
                                </td>
                                <template v-if="item.hide_satker">
                                    <td>
                                        <v-item-tanggal :awal="item.tanggal_awal" :akhir="item.tanggal_akhir" />
                                    </td>
                                    <td>
                                        <v-lokasi :provinsi="item.nama_provinsi" :kabupaten="item.nama_kabupaten" :kecamatan="item.nama_kecamatan" :desa="item.nama_desa" />
                                    </td>
                                    <td>
                                        <v-item-text :text="item.deskripsi" />
                                    </td>
                                    <td>
                                        <v-item-text :text="item.kendala" />
                                    </td>
                                    <td>
                                        <v-item-text :text="item.kesimpulan" />
                                    </td>
                                    <td>
                                        <v-item-text :text="item.tindak_lanjut" />
                                    </td>
                                    <td>
                                        <div class="text-center">
                                            <a :href="item.dokumentasi" class="badge bg-primary text-white cursor-pointer" target="_blank">
                                                <i class="fas fa-eye me-2"></i>
                                                <span v-text="'Lihat dokumentasi'"></span>
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <v-action-button :level="satkerLevel" :nama="item.satker.nama_satker" :id="item.id"
                                            :status="item.status" :itemlevel="item.satker.level" @update="loadData"
                                            @edit="handleEdit" />
                                    </td>
                                </template>
                            </tr>
                        </template>
                        <template v-if="pagedData.length == 0">
                            <tr class="bg-soft-light">
                                <td colspan="10">
                                    <h3 class="my-3 text-capitalize">Data yang anda cari tidak ditemukan ...</h3>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>

                <!-- Pagination -->
                <nav id="__table_pagination" class="mt-3">
                    <ul class="pagination justify-content-end">
                        <li class="page-item">
                            <button :disabled='currentPage <= 1 || totalPage == 0' class="page-link" @click="goToPreviousPage()">
                                <i class="ti ti-chevron-left ti-xs"></i>
                            </button>
                        </li>
                        <template v-for="(page, index) in totalPage" :key="index">
                            <li :class="{ 'page-item': true, 'active': currentPage === page }">
                                <button class="page-link" @click="currentPage === page ? null : goToPage(page)" v-text="page"></button>
                            </li>
                        </template>
                        <li class="page-item">
                            <button :disabled='currentPage == totalPage || totalPage == 0' class="page-link" @click="goToNextPage()">
                                <i class="ti ti-chevron-right ti-xs"></i>
                            </button>
                        </li>
                    </ul>
                </nav>
                <!--/ Pagination -->
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js_tambahan %}
<script>
    const { createApp, reactive, ref, onMounted, computed } = Vue;
    const { createPinia, defineStore } = Pinia;

    const pinia = createPinia()
    
    const usePostStore = defineStore('post', () => {
        const base = {
            deskripsi: {
                potensiSDA: '',
                potensiSDM: '',
            },
            /*
            tindakLanjut: {
                yes: {
                    showKeterangan: false
                },
                no: {
                    showContainer: false,
                    showContainer2: false, // lainnya
                }
            },
            */
            kendala: {
                showKeterangan: false
            },
            kesimpulan: {
                analisis: {
                    text: '',
                    swot: {
                        kekuatan: '' ,
                        kelemahan: '' ,
                        peluang: '' ,
                        tantangan: '' ,
                    }
                },

            }
        }
        
        const deskripsi = ref(base.deskripsi);
        const getDeskripsi = computed(() => {
            return `1. Potensi SDA: ${deskripsi.value.potensiSDA}\n2. Potensi SDM: ${deskripsi.value.potensiSDM}`;
        });
        
        const kendala = ref(base.kendala);
        
        const kesimpulan = ref(base.kesimpulan);
        const getKesimpulan = computed(() => {
            return `Analisis SWOT: ${kesimpulan.value.analisis.text}\n1. Kekuatan: ${kesimpulan.value.analisis.swot.kekuatan}\n2. Kelemahan: ${kesimpulan.value.analisis.swot.kelemahan}\n3. Peluang: ${kesimpulan.value.analisis.swot.peluang}\n4. Tantangan: ${kesimpulan.value.analisis.swot.tantangan}\n
                `;
        });
        
        // const tindakLanjut = ref(base.tindakLanjut);
        
        const resetDeskripsi = () => deskripsi.value = base.deskripsi;
        const resetKendala = () => kendala.value = base.kendala;
        const resetKesimpulan = () => kesimpulan.value = base.kesimpulan;
        /*
        const resetTindakLanjut = () => {
            tindakLanjut.value = base.tindakLanjut;
            tindakLanjut.value.no.showContainer = false;
        };
        */

        const resetAll = () => {
            resetDeskripsi();
            resetKendala();
            resetKesimpulan();
            // resetTindakLanjut();
        }

        return { deskripsi, kendala, kesimpulan, resetDeskripsi, resetKendala, resetAll, getDeskripsi, getKesimpulan };
    });
    
    const useEditStore = defineStore('edit', () => {
        const base = {
            deskripsi: {
                potensiSDA: '',
                potensiSDM: '',
            },
            kendala: {
                showKeterangan: false
            },
            kesimpulan: {
                analisis: {
                    text: '',
                    swot: {
                        kekuatan: '' ,
                        kelemahan: '' ,
                        peluang: '' ,
                        tantangan: '' ,
                    }
                },

            }
        }
        
        const deskripsi = ref(base.deskripsi);
        const getDeskripsi = computed(() => {
            return `1. Potensi SDA: ${deskripsi.value.potensiSDA}\n2. Potensi SDM: ${deskripsi.value.potensiSDM}`;
        });
        
        const kendala = ref(base.kendala);
        
        const kesimpulan = ref(base.kesimpulan);
        const getKesimpulan = computed(() => {
            return `Analisis SWOT: ${kesimpulan.value.analisis.text}\n1. Kekuatan: ${kesimpulan.value.analisis.swot.kekuatan}\n2. Kelemahan: ${kesimpulan.value.analisis.swot.kelemahan}\n3. Peluang: ${kesimpulan.value.analisis.swot.peluang}\n4. Tantangan: ${kesimpulan.value.analisis.swot.tantangan}\n
                `;
        });
        
        // const tindakLanjut = ref(base.tindakLanjut);
        
        const resetDeskripsi = () => deskripsi.value = base.deskripsi;
        const resetKendala = () => kendala.value = base.kendala;
        const resetKesimpulan = () => kesimpulan.value = base.kesimpulan;
        /*
        const resetTindakLanjut = () => {
            tindakLanjut.value = base.tindakLanjut;
            tindakLanjut.value.no.showContainer = false;
        };
        */

        const resetAll = () => {
            resetDeskripsi();
            resetKendala();
            resetKesimpulan();
            // resetTindakLanjut();
        }

        return { deskripsi, kendala, kesimpulan, resetDeskripsi, resetKendala, resetAll, getDeskripsi, getKesimpulan };
    });
</script>

{% include "dayatif/partials/components.html" %}
{% include "dayatif/pemetaan_potensi/partials/components.html" %}

<script>
    const app = createApp({
        delimiters: ['{', '}'],
        components: {
            'v-section-header': SectionHeader,
            'v-lokasi': Lokasi,
            'v-item-tanggal': ItemTanggal,
            'v-item-text': ItemText,
            'v-action-button': ActionBTN,
        },
        setup() {
            const params = new URLSearchParams(window.location.search);
            const pathname = window.location.pathname;

            const store = {
                post: usePostStore(),
                edit: useEditStore()
            }
            
            const title = ref('Pemetaan Potensi');

            const satkerPK = ref(parseInt('{{ user.profile.satker.pk }}'));
            const satkerLevel = ref(parseInt('{{ user.profile.satker.level }}'));

            const tableData = ref(null);
            
            const removeParams = (name) => {
                params.delete(name);
                const newUrl = pathname + (params.toString() ? `?${params.toString()}` : '');
                window.history.pushState({ path: newUrl }, '', newUrl);
            }
            
            const getSearch = () => {
                const search = params.get('search')
                if (search == '') removeParams('search')
                return search;
            }

            const filter = ref({ search: '', date: '', kegiatan: '' });

            const perPage = ref(10);

            const getPage = () => {
                let page = parseInt(params.get('page'));

                if (isNaN(page) || page <= 0) {
                    removeParams('page');
                    page = 1;
                }

                return page;
            }

            const currentPage = ref(getPage());
            const filteredPage = ref(null);

            const totalPage = computed(() => {
                return filteredPage.value ? Math.ceil(filteredPage.value.length / perPage.value) : 0;
            });

            const pagedData = computed(() => {
                if (!filteredPage.value) return [];
                const startIndex = (currentPage.value - 1) * perPage.value;
                const endIndex = currentPage.value * perPage.value;
                return filteredPage.value.slice(startIndex, endIndex);
            });

            const goToPage = (page) => {
                const paramsString = params.toString();
                const queryString = paramsString ? `${paramsString}&` : '';
                const newUrl = page !== 1 ? `?${queryString}page=${page}` : pathname + (queryString != '' ? ('?' + queryString) : '');
                window.history.pushState({ path: newUrl }, '', newUrl);
                currentPage.value = page;
                scrollToTop();
            }

            const goToNextPage = () => {
                const nextPage = currentPage.value + 1;
                const queryString = params.toString() ? `${params.toString()}&` : '';
                const newUrl = `${window.location.pathname}?${queryString}page=${nextPage}`;
                window.history.pushState({ path: newUrl }, '', newUrl);
                currentPage.value = nextPage;
                scrollToTop();
            }

            const goToPreviousPage = () => {
                const previousPage = currentPage.value - 1;
                const queryString = params.toString() ? `${params.toString()}` + (previousPage !== 1 ? '&' : '') : '';
                const newUrl = previousPage !== 1 ? `?${queryString}page=${previousPage}` : pathname + (queryString != '' ? ('?' + queryString) : '');
                window.history.pushState({ path: newUrl }, '', newUrl);
                currentPage.value = previousPage;
                scrollToTop();
            }

            const buildQuery = (data, columns, search) => {
                const query = search.toUpperCase();
                return data.filter(item => {
                    return columns.some(column => {
                        const columnValue = String(item[column]).toUpperCase();
                        return columnValue.includes(query);
                    });
                });
            }

            const handleSearch = async () => {
                currentPage.value = 1;

                const columns = ['nama_satker', 'deskripsi', 'tanggal', 'jumlah_kegiatan', 'nama_provinsi', 'nama_kabupaten', 'nama_kecamatan', 'nama_desa', 'deskripsi', 'kendala', 'kesimpulan', 'tindak_lanjut'];

                block($('#__table'));
                await sleep(1000);
                filteredPage.value = buildQuery(tableData.value, columns, filter.value.search);
                unblock($('#__table'));

                // const newUrl = filter.value.search !== '' ? `?search=${filter.value.search}` : pathname;
                // window.history.pushState({ path: newUrl }, '', newUrl);
            }

            const handleFilterDate = async () => {
                if (filter.value.date == '') {
                    filteredPage.value = tableData.value;
                    return;
                }

                const dateParts = filter.value.date.split('-');
                console.log('Value :', dateParts)

                const datePartStart = dateParts[0].trim();
                const datePartEnd = dateParts[1].trim();

                const startDate = moment(datePartStart, 'DD/MM/YYYY');
                const endDate = moment(datePartEnd, 'DD/MM/YYYY');

                filteredPage.value = tableData.value.filter(item => {
                    const itemDate = moment(item.tanggal_awal, 'YYYY-MM-DD');
                    return itemDate.isBetween(startDate, endDate, null, '[]');
                });
            }

            const handleFilterKegiatan = (e) => {
                if (e == '') {
                    filteredPage.value = tableData.value;
                    return;
                }

                filter.value.kegiatan = e;
                
                console.log('Filter Kegiatan:', filter.value.kegiatan);
                const rangeString = filter.value.kegiatan;
                const rangeArray = rangeString.split("-");

                const rangeAwal = parseInt(rangeArray[0]);
                const rangeAkhir = parseInt(rangeArray[1]);

                console.log('range awal:', rangeAwal)
                console.log('range akhir:', rangeAkhir)

                filteredPage.value = tableData.value.filter(item => {
                    const jumlahKegiatan = parseInt(item.jumlah_kegiatan);
                    return jumlahKegiatan >= rangeAwal && jumlahKegiatan <= rangeAkhir;
                });
            }

            const apiURL = satkerLevel.value == 1 ? '/kegiatan/api/v1/dayatif/pemetaan_potensi/list/get_data_bnnk/?format=datatables' : '/kegiatan/api/v1/dayatif/pemetaan_potensi/list/?format=datatables';
            
            const loadData = async () => {
                const tableContent = [];
                const response = await axios.get(apiURL);
                const data = response.data.data;
                
                let key, value, key2, value2, key3, value3, key4, value4;

                for ([key, value] of Object.entries(data)) {
                    const baris = {
                        class: "bg-soft-primary",
                        id: value.id,
                        status: value.status,
                        hide_satker: false,
                        index: parseInt(key) + 1,
                        jumlah_kegiatan: value.data.length,
                        satker: value.satker,

                        tanggal: "",
                        tanggal_awal: "",
                        tanggal_akhir: "",

                        nama_provinsi: "",
                        nama_kabupaten: "",
                        nama_kecamatan: "",
                        nama_desa: "",

                        deskripsi: "",
                        kendala: "",
                        kesimpulan: "",
                        tindak_lanjut: "",
                        dokumentasi: "",
                    };

                    tableContent.push(baris);

                    for ([key2, value2] of Object.entries(value.data)) {
                        const indexKey = `${parseInt(key) +1}.${parseInt(key2) + 1}`;
                        const baris = {
                            class: "bg-soft-light",
                            id: value2.id,
                            status: value2.status,
                            hide_satker: true,
                            index: indexKey,
                            satker: value2.satker,
                            jumlah_kegiatan: value.data.length,

                            tanggal: getTanggalKegiatan(value2.tanggal_awal, value2.tanggal_akhir),
                            tanggal_awal: value2.tanggal_awal,
                            tanggal_akhir: value2.tanggal_akhir,
                            
                            nama_provinsi: value2.nama_provinsi,
                            nama_kabupaten: value2.nama_kabupaten,
                            nama_kecamatan: value2.nama_kecamatan,
                            nama_desa: value2.nama_desa,

                            deskripsi: value2.deskripsi,
                            kendala: value2.kendala,
                            kesimpulan: value2.kesimpulan,
                            tindak_lanjut: value2.tindak_lanjut,
                            dokumentasi: value2.dokumentasi,
                        };

                        tableContent.push(baris);
                    }

                    if (value.detail !== undefined && value.detail.length > 0) {
                        for ([key3, value3] of Object.entries(value.detail)) {
                            const indexKey = `${parseInt(key) + 1}.${parseInt(key2) + 1}.${parseInt(key3) + 1}`;

                            const baris = {
                                class: "bg-soft-warning",
                                id: value3.id,
                                status: value3.status,
                                hide_satker: false,
                                index: indexKey,
                                jumlah_kegiatan: value3.data.length,
                                satker: value3.satker,

                                tanggal: "",
                                tanggal_awal: "",
                                tanggal_akhir: "",

                                nama_provinsi: "",
                                nama_kabupaten: "",
                                nama_kecamatan: "",
                                nama_desa: "",

                                deskripsi: "",
                                kendala: "",
                                kesimpulan: "",
                                tindak_lanjut: "",
                                dokumentasi: "",
                            };

                            tableContent.push(baris);

                            for ([key4, value4] of Object.entries(value3.data)) {
                                const indexKey = `${parseInt(key) + 1}.${parseInt(key2) + 1}.${parseInt(key3) + 1}.${parseInt(key4) + 1}`;

                                const baris = {
                                    class: "bg-soft-light",
                                    id: value4.id,
                                    status: value4.status,
                                    hide_satker: true,
                                    index: indexKey,
                                    jumlah_kegiatan: value3.data.length,
                                    satker: value4.satker,

                                    tanggal: getTanggalKegiatan(value4.tanggal_awal, value4.tanggal_akhir),
                                    tanggal_awal: value4.tanggal_awal,
                                    tanggal_akhir: value4.tanggal_akhir,
                                    
                                    nama_provinsi: value4.nama_provinsi,
                                    nama_kabupaten: value4.nama_kabupaten,
                                    nama_kecamatan: value4.nama_kecamatan,
                                    nama_desa: value4.nama_desa,

                                    deskripsi: value4.deskripsi,
                                    kendala: value4.kendala,
                                    kesimpulan: value4.kesimpulan,
                                    tindak_lanjut: value4.tindak_lanjut,
                                    dokumentasi: value4.dokumentasi,
                                };
                                tableContent.push(baris);
                            }
                        }
                    }
                }

                tableData.value = tableContent;
                filteredPage.value = tableData.value;
            }
            
            const post = ref({
                provinsi: '',
                kabupaten: '',
                kecamatan: '',
                desa: ''
            });

            const handlePost = async () => {
                console.log('Post Data:', post.value);

                const modal = $('#createModal');
                const form = $('#createForm');

                showSwalLoading();

                const { tanggal_awal, tanggal_akhir, provinsi, kabupaten, kecamatan, desa, nama_provinsi, nama_kabupaten, nama_kecamatan,
                    nama_desa, deskripsi, kendala, kesimpulan, tindak_lanjut, dokumentasi } = post.value;

                const satker = satkerPK.value

                const payload = {
                    satker,
                    tanggal_awal,
                    ...(tanggal_akhir && {
                        tanggal_akhir
                    }),
                    provinsi,
                    nama_provinsi,
                    kabupaten,
                    nama_kabupaten,
                    kecamatan,
                    nama_kecamatan,
                    desa,
                    nama_desa,
                    deskripsi,
                    kendala,
                    kesimpulan,
                    tindak_lanjut,
                    dokumentasi
                };

                const formData = new FormData();

                Object.entries(payload).forEach(([key, value]) => formData.append(key, value));

                console.log('Payload :', payload);

                try {
                    const response = await axios.post(`/kegiatan/api/v1/dayatif/pemetaan_potensi/`,
                        formData, {
                            headers: {
                                'Content-Type': 'multipart/form-data',
                            },
                        }
                    );

                    modal.modal('hide');
                    showSwalSuccess('Berhasil!', `Data kegiatan telah <b>berhasil</b> ditambahkan!`);
                } catch (error) {
                    showSwalGenericError();
                    console.error('Terjadi kesalahan :', error);
                } finally {
                    await loadData();

                    post.value = {
                        provinsi: '',
                        kabupaten: '',
                        kecamatan: '',
                        desa: ''
                    }

                    store.post.resetAll();
                }
            }

            const edit = ref({
                provinsi: '',
                kabupaten: '',
                kecamatan: '',
                desa: ''
            });

            const handleEdit = async (id) => {
                try {
                    const response = await axios.get(`/kegiatan/api/v1/dayatif/pemetaan_potensi/${id}/`);
                    
                    const data = response.data;

                    console.log('Data:', data);

                    const modal = $('#editModal');
                    const form = $('#editForm');

                    // Deskripsi
                    const deskripsiParts = data.deskripsi.split(/\d+\./).map(part => part.trim()).filter(part => part !== '');

                    const potensiSDA = deskripsiParts[0].replace('Potensi SDA:', '').trim();
                    const potensiSDM = deskripsiParts[1].replace('Potensi SDM:', '').trim();

                    store.edit.deskripsi.potensiSDA = potensiSDA;
                    store.edit.deskripsi.potensiSDM = potensiSDM;

                    // Kendala
                    store.edit.kendala.showKeterangan = data.kendala.startsWith('Ada');

                    // Kesimpulan
                    const [judul, ...poin] = data.kesimpulan.split(/\d+\./);
                    const text = judul.replace('Analisis SWOT:', '').trim();
                    const kesimpulanData = poin.map(p => {
                        const [label, teks] = p.split(':');
                        return {
                            [label.toLowerCase().trim()]: teks.trim()
                        };
                    });

                    const kesimpulanList = Object.assign({ text }, ...kesimpulanData);
                    
                    ['text', 'kekuatan', 'kelemahan', 'peluang', 'tantangan'].forEach(key => {
                        store.edit.kesimpulan.analisis.swot[key] = kesimpulanList[key];
                    });

                    edit.value = {
                        provinsi: data.provinsi,
                        kabupaten: data.kabupaten,
                        kecamatan: data.kecamatan,
                        desa: data.desa,
                        ...data
                    };

                    form.find('#edit__info').text(data.satker.nama_satker);
                    form.find('#edit__selected_provinsi').text(data.nama_provinsi);
                    form.find('#edit__selected_kabupaten').text(data.nama_kabupaten);
                    form.find('#edit__selected_kecamatan').text(data.nama_kecamatan);
                    form.find('#edit__selected_desa').text(data.nama_desa);

                    edit.value.dokumentasi = null;

                    modal.modal('show');
                } catch (error) {
                    showSwalGenericError();
                    console.error('Terjadi kesalahan :', error);
                }
            }

            const handleUpdate = async (id) => {
                console.log('Update Data:', edit.value);

                const {
                    tanggal_awal,
                    tanggal_akhir,
                    provinsi,
                    kabupaten,
                    kecamatan,
                    desa,
                    nama_provinsi,
                    nama_kabupaten,
                    nama_kecamatan,
                    nama_desa,
                    deskripsi,
                    kendala,
                    kesimpulan,
                    tindak_lanjut,
                    dokumentasi
                } = edit.value;

                const satker = satkerPK.value

                showSwalLoading();

                const modal = $('#editModal');
                const form = $('#editForm');

                const payload = {
                    satker,
                    tanggal_awal,
                    ...(tanggal_akhir && {
                        tanggal_akhir
                    }),
                    provinsi,
                    nama_provinsi,
                    kabupaten,
                    nama_kabupaten,
                    kecamatan,
                    nama_kecamatan,
                    desa,
                    nama_desa,
                    deskripsi,
                    kendala,
                    kesimpulan,
                    tindak_lanjut,
                    ...(dokumentasi && {
                        dokumentasi
                    }),
                };

                const formData = new FormData();

                Object.entries(payload).forEach(([key, value]) => formData.append(key, value));

                console.log('Payload :', payload);

                try {
                    const response = await axios.patch(
                        `/kegiatan/api/v1/dayatif/pemetaan_potensi/${edit.value.id}/`,
                        formData, {
                            headers: {
                                'Content-Type': 'multipart/form-data',
                            },
                        }
                    );

                    modal.modal('hide');
                    showSwalSuccess('Berhasil!', `Data kegiatan telah <b>berhasil</b> diperbarui!`);
                } catch (error) {
                    showSwalGenericError();
                    console.error('Terjadi kesalahan :', error);
                } finally {
                    await loadData();

                    edit.value = {
                        provinsi: '',
                        kabupaten: '',
                        kecamatan: '',
                        desa: ''
                    }

                    store.edit.resetAll();
                }
            }
            
            const handleExport = async () => {
                console.log(`[INFO] Exporting data ... Satker ID : ${satkerPK.value} - Level : ${satkerLevel.value}`)
            }
            
            const scrollToTop = () => document.querySelector('#layout-container').scrollIntoView({ behavior: 'smooth', block: 'start' });

            const inputTargets = ['provinsi', 'kabupaten', 'kecamatan', 'desa'];

            const handleChange = (type, name, event) => {
                const text = $(`#${type}__${name}`).find(':selected').text();
                const value = event.target.value;
                
                if (type === 'create') {
                    post.value[name] = value;
                    post.value[`nama_${name}`] = text;
                } else {
                    edit.value[name] = value;
                    edit.value[`nama_${name}`] = text;
                }
            };

            onMounted(async () => {
                block($('#__table'));
                await loadData();
                unblock($('#__table'));

                console.log('Satker level :', satkerLevel.value);

                inputTargets.forEach(name => {
                    ['create', 'edit'].forEach(type => {
                        $(`#${type}__${name}`).on('change', (event) => handleChange(type, name, event));
                    });
                });

                
                $('#filter__date').on('change', async (event) => {
                    filter.value.date = event.target.value;
                    block($('#__table'));
                    await sleep(1000);
                    await handleFilterDate();
                    unblock($('#__table'));
                });
                
                await sleep(500);
                filter.value.date = '';

                await sleep(2000);

                console.log('pagedData:', pagedData.value)
            });

            return {
                store,
                satkerLevel,
                satkerPK,
                title,

                loadData,
                tableData,
                
                perPage,
                currentPage,
                filteredPage,
                totalPage,
                pagedData,
                goToPage,
                goToNextPage,
                goToPreviousPage,
                
                filter,
                buildQuery,
                handleSearch,

                handleFilterDate,
                handleFilterKegiatan,

                post,
                handlePost,

                edit,
                handleEdit,
                handleUpdate,

                handleExport,

                scrollToTop,
            }
        },
    })

    app.use(pinia)

    app.mount('#app');
</script>

<script>
    const API_LOKASI_URL = 'http://103.210.54.17:8003';
    let listProvinces = null;

    async function fetchDropdownData(url, id, dropdown, type, resetFunction) {
        if (!id) return;

        resetFunction();

        try {
            const response = await axios.get(url);

            response.data.forEach(value => {
                dropdown.append($('<option>', {
                    value: value.id,
                    text: value[`nama_${type}`]
                }));
            });

            dropdown.removeAttr('disabled');
        } catch (error) {
            console.error('Error:', error);
        }
    }

    const API_URLS = {
        regencies: API_LOKASI_URL + '/dashboard/masters/api/v1/list_regencies/?provinsi=',
        districts: API_LOKASI_URL + '/dashboard/masters/api/v1/list_districts/?kabupaten=',
        villages: API_LOKASI_URL + '/dashboard/masters/api/v1/list_villages/?kecamatan=',
        provinces: API_LOKASI_URL + '/dashboard/masters/api/v1/provinces/',
    };

    const dropdownOptions = {
        kabupaten: {
            resetFunction: resetKabupaten,
            url: API_URLS.regencies
        },
        kecamatan: {
            resetFunction: resetKecamatan,
            url: API_URLS.districts
        },
        desa: {
            resetFunction: resetDesa,
            url: API_URLS.villages
        }
    };

    async function loadDropdownData(type, id, dropdown) {
        const {
            resetFunction,
            url
        } = dropdownOptions[type];
        await fetchDropdownData(`${url}${id}`, id, dropdown, type, resetFunction);
    }

    async function fetchProvinsi() {
        try {
            const response = await axios.get(API_URLS.provinces);
            listProvinces = response.data.results;
        } catch (error) {
            console.error('Error:', error);
        }
    }

    async function assignProvinsi(type) {
        const provinsiDropdown = $(`#${type}__provinsi`);

        listProvinces.forEach(value => {
            provinsiDropdown.append($('<option>', {
                value: value.id,
                text: value.nama_provinsi
            }));
        });

        provinsiDropdown.removeAttr('disabled');
    }

    const semua_option = `<option value="">Semua</option>`;

    function resetKabupaten(type) {
        $(`#${type}__kabupaten`).empty();
        $(`#${type}__kabupaten`).append($(`<option>`, {
            value: '',
            text: '--Pilih kabupaten/kota--',
            disabled: true,
        }));
        $(`#${type}__kabupaten`).prop(`disabled`, true);
        $(`#${type}__kecamatan`).prop(`disabled`, true);

        $(`#${type}__kabupaten`).append(semua_option);
    }

    function resetKecamatan(type) {
        $(`#${type}__kecamatan`).empty();
        $(`#${type}__kecamatan`).append($('<option>', {
            value: '',
            text: '--Pilih kecamatan--',
            disabled: true
        }));
        $(`#${type}__kecamatan`).prop('disabled', true);
        $(`#${type}__kecamatan`).append(semua_option);
    }

    function resetDesa(type) {
        $(`#${type}__desa`).empty();
        $(`#${type}__desa`).append($('<option>', {
            value: '',
            text: '--Pilih desa/kelurahan--',
            disabled: true
        }));
        $(`#${type}__desa`).prop('disabled', true);
        $(`#${type}__desa`).append(semua_option);
    }

    $(function () {
        (async () => {
            try {
                await fetchProvinsi();
                await assignProvinsi('create');
                await assignProvinsi('edit');

                $('#create__provinsi, #edit__provinsi').on('change', async function () {
                    const value = $(this).val();
                    const type = $(this).attr('id').split('__')[0];

                    if (value && value !== '') {
                        await loadDropdownData('kabupaten', value, $(
                            `#${type}__kabupaten`));
                    } else {
                        resetKabupaten(type);
                        resetKecamatan(type);
                        resetDesa(type);
                    }
                });

                $('#create__kabupaten, #edit__kabupaten').on('change', async function () {
                    const value = $(this).val();
                    const type = $(this).attr('id').split('__')[0];

                    if (value && value !== '') {
                        await loadDropdownData('kecamatan', value, $(
                            `#${type}__kecamatan`));
                    } else {
                        resetKecamatan(type);
                        resetDesa(type);
                    }
                });

                $('#create__kecamatan, #edit__kecamatan').on('change', async function () {
                    const value = $(this).val();
                    const type = $(this).attr('id').split('__')[0];

                    if (value && value !== '') {
                        await loadDropdownData('desa', value, $(`#${type}__desa`));
                    } else {
                        resetDesa(type);
                    }
                });

            } catch (error) {
                console.error('Terjadi kesalahan saat memuat data statistik :', error);
            }
        })();


        $('#filter__date').daterangepicker({
            showDropdowns: true,
            ranges: {
                'Hari ini': [moment(), moment()],
                'Kemarin': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Minggu ini': [moment().subtract(6, 'days'), moment()],
                // '30 hari yang lalu': [moment().subtract(29, 'days'), moment()],
                'Bulan ini': [moment().startOf('month'), moment().endOf('month')],
                // 'Bulan lalu': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                'Triwulan 1 (Januari - Maret)': [moment().startOf('year').startOf('quarter'), moment().startOf('year').startOf('quarter').add(2, 'months').endOf('month')],
                'Triwulan 2 (April - Juni)': [moment().startOf('year').startOf('quarter').add(3, 'months'), moment().startOf('year').startOf('quarter').add(5, 'months').endOf('month')],
                'Triwulan 3 (Juli - September)': [moment().startOf('year').startOf('quarter').add(6, 'months'), moment().startOf('year').startOf('quarter').add(8, 'months').endOf('month')],
                'Triwulan 4 (Oktober - Desember)': [moment().startOf('year').startOf('quarter').add(9, 'months'), moment().startOf('year').endOf('year')],
            },
            locale: {
                customRangeLabel: "Rentang Lainnya",
                cancelLabel: 'Batalkan',
                applyLabel: 'Terapkan'
            }
        });

    });
</script>

{% endblock %}

{% block css_tambahan %}

<style>
    #detail__lokasi {
        width: 250px
    }

    #detail__lokasi .detail__value {
        padding-left: 10px;
    }

    #edit__selected_lokasi li span {
        padding-left: 10px;
    }

    #edit__selected_lokasi .edit__selected_lokasi_label {
        width: 150px;
        display: inline-block;
    }

    ul.location__list {
        text-align: left;
    }

    ul.location__list .location__label {
        width: 150px;
        display: inline-block;
        font-weight: bold;
    }

    ul.location__list .location__value {
        display: inline-block;
        padding-left: 5px;
    }
</style>

{% endblock css_tambahan %}