<div class="modal fade" id="editDataKegiatan" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="edit">Edit Data</h5>
          <button type="button" class="btn-close" data-bs-toggle="modal" data-bs-target="#detailKonsilidasiKebijakan" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="edit_tanggal" class="col-form-label">Tanggal:</label>
              <input type="date" name="edit_tanggal" class="form-control" id="edit_tanggal" value="2024-01-17" />
            </div>
            <div class="mb-3">
              <label for="edit_peserta" class="col-form-label">Peserta:</label>
              <input type="text" name="edit_peserta" class="form-control" id="edit_peserta" value="Contoh Peserta" />
            </div>
            <div class="mb-3">
              <label for="edit_stakeholder" class="col-form-label">Stakeholder/Pendamping Yang Diundang:</label>
              <input type="text" name="edit_stakeholder" class="form-control" id="edit_stakeholder" value="Contoh Stakeholder" />
            </div>
            <div class="mb-3">
              <label for="edit_deskripsi_hasil" class="col-form-label">Deskripsi Hasil</label>
              <textarea class="form-control" name="edit_deskripsi_hasil" id="edit_deskripsi_hasil">Contoh Deskripsi</textarea>
            </div>
            <div class="mb-3">
              <label for="edit_hambatan_kendala" class="col-form-label">Hambatan atau Kendala:</label>
              <textarea class="form-control" name="edit_hambatan_kendala" id="edit_hambatan_kendala">Contoh Hambatan/Kendala</textarea>
            </div>
            <div class="mb-3">
              <label for="edit_simpulan" class="col-form-label">Simpulan:</label>
              <textarea class="form-control" name="edit_simpulan" id="edit_simpulan">Contoh Kesimpulan</textarea>
            </div>
            <div class="mb-3">
              <label for="edit_tindak_lanjut" class="col-form-label">Rekomendasi Tindak Lanjut:</label>
              <textarea class="form-control" name="edit_tindak_lanjut" id="edit_tindak_lanjut">Contoh TIndak Lanjut</textarea>
            </div>
            <div class="mb-3">
              <label for="dokumentasi" class="col-form-label">Dokumentasi</label>
              <input type="file" class="form-control" id="dokumentasi" aria-describedby="inputGroupFileAddon03" aria-label="Upload" />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#detailKonsilidasiKebijakan"><i class="fas fa-xmark me-2"></i>Tutup</button>
          <button type="button" class="btn btn-primary">
            <i class="fas fa-save me-2"></i>
            Simpan
          </button>
        </div>
      </div>
    </div>
  </div>
  