<div class="modal fade" id="detailMonevModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitleId">Detail Monev untuk Satker <b>BNN Provinsi Jawa Barat</b></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead class="bg-soft-blue">
              <tr>
                <th>No</th>
                <th>Tanggal</th>
                <th>Peserta</th>
                <th>Stakeholder Pendamping Yang Diundang</th>
              </tr>
            </thead>
            <tbody>
              <tr class="">
                <td>1</td>
                <td>28 Agustus s/d 29 September 2022</td>
                <td>Contoh Pseserta</td>
                <td>Contoh Stakeholder</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          <i class="fas fa-xmark me-2"></i>
          Tutup
        </button>
      </div>
    </div>
  </div>
</div>