{% extends 'dashboard/dashboard_base.html' %}
{% load static %}

{% block title %} Dashboard {% endblock %}

{% block css_tambahan %}
{% include "dashboard/plugins/leaflet.html" %}
{% endblock css_tambahan %}

{% block content %}

<div class="breadcrumb">
    <div class="row">
        <h3 class="heading mb-2">Beranda</h3>
        <span class="mb-0">
          <span class="text-muted fw-light">Beranda</span>
        </span>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0 fw-bold">Peta Hasil Survei</h4>
            </div>
            <div class="card-body">
                <div id="map" style="height: 400px"></div>

                <div class="table-responsive mt-3">
                    {% include 'dashboard/table_dashboard_dayatif.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js_tambahan %}
<script>
    const mymap = L.map('map').setView([-0.7893, 113.9213], 5);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors'
    }).addTo(mymap);
</script>

{% endblock %}