<div class="modal fade" id="detailDaftarPesertaModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">Detail Daftar Peserta untuk Pelaksanaan <strong>No. 1</strong> Satuan Kerja
                    <strong>{{ user.profile.satker }}</strong>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-sm table-bordered">
                        <thead>
                            <tr>
                                <th class="bg-soft-success text-center" rowspan="1" colspan="5">Peserta</th>
                                <th class="bg-soft-success" rowspan="2">AKSI<i class="fas fa-edit ms-2"></i></th>
                            </tr>
                            <tr class="bg-soft-primary">
                                <!-- Peserta -->
                                <th>No.</th>
                                <th>Nama</th>
                                <th>Alamat</th>
                                <th>No HP</th>
                                <th>Jenis Kelamin</th>
                                <!--/ Peserta -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <!-- Peserta -->
                                <td>1</td>
                                <td>Ahmad Sugiono</td>
                                <td>Dusun Blang Ranto</td>
                                <td>0853 6278 3743 </td>
                                <td><span class="text-primary">Laki-Laki</span></td>
                                <!--/ Peserta -->
                                <td>
                                    <div class="list-button mt-2">
                                        <a href="javascript:;"
                                            class="badge bg-success text-white text-decoration-none mb-1">
                                            <i class="fas fa-pen-to-square me-2"></i>EDIT</a>
                                        <a href="javascript:;"
                                            class="badge bg-danger text-white text-decoration-none delete-data mb-1">
                                            <i class="fas fa-trash-alt me-2"></i>HAPUS</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <!-- Peserta -->
                                <td>2</td>
                                <td>Dewi Astuti</td>
                                <td>Dusun Hebat</td>
                                <td>0852 6278 3743 </td>
                                <td><span class="text-danger">Wanita</span></td>
                                <!--/ Peserta -->
                                <td>
                                    <div class="list-button mt-2">
                                        <a href="javascript:;"
                                            class="badge bg-success text-white text-decoration-none mb-1">
                                            <i class="fas fa-pen-to-square me-2"></i>EDIT</a>
                                        <a href="javascript:;"
                                            class="badge bg-danger text-white text-decoration-none delete-data mb-1">
                                            <i class="fas fa-trash-alt me-2"></i>HAPUS</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <!-- Peserta -->
                                <td>3</td>
                                <td>Desi Astuti</td>
                                <td>Dusun Blang Ranto</td>
                                <td>0852 6278 3743 </td>
                                <td><span class="text-danger">Wanita</span></td>
                                <!--/ Peserta -->
                                <td>
                                    <div class="list-button mt-2">
                                        <a href="javascript:;"
                                            class="badge bg-success text-white text-decoration-none mb-1">
                                            <i class="fas fa-pen-to-square me-2"></i>EDIT</a>
                                        <a href="javascript:;"
                                            class="badge bg-danger text-white text-decoration-none delete-data mb-1">
                                            <i class="fas fa-trash-alt me-2"></i>HAPUS</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fas fa-xmark me-2"></i>
                    Tutup
                </button>
            </div>
        </div>
    </div>
</div>