{% extends 'dashboard/dashboard_base.html' %}
{% load static %}
{% block title %}
Bintek
{% endblock %}
{% block content %}
<div class="breadcrumb">
    <div class="row">
        <h3 class="heading mb-2">Bintek</h3>
        <span class="mb-0"><span class="text-muted fw-light">Kegiatan /</span><span
                class="ms-1 fw-medium">Bintek</span></span>
    </div>
</div>

<section id="__data">
    <div class="card">
        <div class="card-body">
            <div id="headline" class="mb-3">
                <h3 class="text-center">REKAPITULASI PEMBINAAN TEKNIS</h3>
                <hr />
            </div>

            <div class="action-button">
                <div class="d-flex justify-content-end mb-3 gap-2">
                    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exportData"><i
                            class="fas fa-file-export me-2"></i>Ekspor Data</button>
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#tambahData"><i
                            class="fas fa-plus me-2"></i>Tambah Data</button>
                </div>
            </div>

            <div class="table-responsive">
                {% include 'dayatif/tables/table_bintek.html' %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block css_tambahan %}
<link rel="stylesheet" href="{% static 'assets/dashboard/vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" />
{% endblock %}

{% block js_tambahan %}
<script src="{% static 'assets/dashboard/vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
<script>
    let table = $('#__table').DataTable({
        language: dt_lang_config()
    })
</script>
{% endblock %}

{% block modal_tambahan %}
{% include 'dayatif/modals/modal_create_bintek.html' %}
{% endblock %}